<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<h4>Foods</h4>

<label class="form-lable">Nutritional Assessment</label>
<a class="btn btn-link" data-toggle="modal" data-target="#myModalNutritional" th:if="${FOODINGREDIENT != null}">View Detail</a>
<small th:if="${FOODINGREDIENT != null}"> or</small>
<a class="btn btn-link" th:href="@{/createNutrition(patientID=${PATIENT.id})}">Create New</a>

<table class="table table-striped" id="Foods">
    <tr>
        <th style="width: 10px">#</th>
        <th style="min-width: 155px;">Name</th>
        <th style="width: 110px;">Times</th>
        <th style="width: 60px;">Quantity</th>
        <th style="width: 110px;">Unit</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr>
        <td>1</td>
        <td class="form-group">
            <select class="form-control" th:field="*{fPresModels[0].f}" onchange="findUnits(this)"
                    data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
                <option th:each="food : ${FOODS}" th:value="${food.id}"
                        th:text="${food.name}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <select class="form-control" th:field="*{fPresModels[0].fTime}"
                    data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
                <option th:each="time : ${TIMES}" th:value="${time}"
                        th:text="${time}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:field="*{fPresModels[0].fQuantity}" style="text-align: right;"
                   placeholder="Quantity" data-rule-min="1" data-msg-min="Value must great than 1" data-rule-required="true" data-msg-required="Please input."/>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <select class="form-control" name="fPresModels[0].fUnit" id="fPresModels0fUnit"
                    data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{fPresModels[0].fNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>
        </td>
    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowFoods('Foods')">Add</a>

</body>
</html>