<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Foods</h4>

<label class="form-lable">Nutritional Assessment</label>
<a class="btn btn-link" data-toggle="modal" data-target="#myModalNutritional" th:if="${FOODINGREDIENT != null}">View Detail</a>
<small th:if="${FOODINGREDIENT != null}"> or</small>
<a class="btn btn-link" th:href="@{/createNutrition(patientID=${PATIENT.id})}">Create New</a>

<table class="table table-striped" id="Foods">
    <tr>
        <th style="width: 10px">#</th>
        <th style="min-width: 155px;">Menu</th>
        <th style="width: 80px;">Times</th>
        <th style="width: 60px;">Quantity</th>
        <th style="width: 110px;">Unit</th>
        <th>Advice</th>
        <th>#</th>
    </tr>
    <tr th:each="foodPhase,row : ${PHASE.foodPhaseList}" class="rowFood">
        <td th:text="${row.count}"></td>
        <td class="form-group">
            <select class="form-control" onchange="findUnits(this)" th:name="fPresModels[__${row.index}__].f" th:id="fPresModels__${row.index}__.f"
                    data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
                <option th:each="food : ${FOODS}"
                        th:value="${food.id}"
                        th:text="${food.name}"
                        th:selected="${foodPhase.food.id == food.id}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <select class="form-control" th:name="fPresModels[__${row.index}__].fTime"
                    data-msg-min="Please select." data-rule-min="1">
                <option th:each="time : ${TIMES}"
                        th:value="${time.numOfTime}"
                        th:text="${time.numOfTime}"
                        th:selected="${foodPhase.numberOfTime == time.numOfTime}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:name="fPresModels[__${row.index}__].fQuantity" th:value="${foodPhase.quantitative}"
                   style="text-align: right;" data-rule-required="true" data-msg-required="Please input."
                   placeholder="Quantity" data-rule-min="1" data-msg-min="Value must great than 1"/>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <select class="form-control" th:name="fPresModels[__${row.index}__].fUnit"
                    th:id="fPresModels__${row.index}__fUnit" data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td>
            <input type="text" class="form-control" th:value="${foodPhase.advice}"
                   th:name="fPresModels[__${row.index}__].fNote" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>
        </td>

    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowFoods('Foods')">Add</a>
</body>
</html>