<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Foods</h4>

<label class="form-lable">Nutritional Assessment</label>
<a class="btn btn-link" data-toggle="modal" data-target="#myModalNutritional" th:if="${FOODINGREDIENT != null}">View Detail</a>
<small th:if="${FOODINGREDIENT != null}"> or</small>
<a class="btn btn-link" th:href="@{/createNutrition(patientID=${PATIENT.id})}">Create New</a>

<table class="table table-striped" id="Foods">
    <tr>
        <th style="width: 10px">#</th>
        <th>Menu</th>
        <th>Times</th>
        <th>Quantitative</th>
        <th>Unit</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr th:each="foodPhase,row : ${PHASE.foodPhaseList}">
        <td th:text="${row.count}"></td>
        <td style="min-width: 155px;" class="form-group">
            <select class="form-control" onchange="findUnits(this)" th:field="*{fPresModels[__${row.index}__].f}"
                    data-msg-min="Please select." data-rule-min="1">
                <option th:value="${foodPhase.food.id}" selected="selected"
                        th:text="${foodPhase.food.name}"></option>
                <option th:each="food : ${FOODS}"
                        th:value="${food.id}"
                        th:text="${food.name}"
                        th:if="${foodPhase.food.id != food.id}"></option>
            </select>
            <div class="help-block with-errors"></div>
        </td>
        <td style="min-width: 120px;" class="form-group">
            <select class="form-control" th:field="*{fPresModels[__${row.index}__].fTime}"
                    data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
                <option th:each="time : ${TIMES}" th:value="${time}"
                        th:text="${time}"></option>
            </select>
            <div class="help-block with-errors"></div>
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:field="*{fPresModels[__${row.index}__].fQuantity}"
                   style="text-align: right;" data-rule-required="true" data-msg-required="Please input."
                   placeholder="Quantity" data-rule-min="0" data-msg-min="Value must great than 0"/>
            <div class="help-block with-errors"></div>
        </td>
        <td class="form-group">
            <select class="form-control" th:name="fPresModels[__${row.index}__].fUnit"
                    th:id="fPresModels__${row.index}__fUnit" data-msg-min="Please select." data-rule-min="1">
                <option value="0">Select</option>
            </select>
            <div class="help-block with-errors"></div>
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{fPresModels[__${row.index}__].fNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>
        </td>

    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowFoods('Foods')">Add</a>
</body>
</html>