<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Foods</h4>
<table class="table table-striped" id="Foods">
    <tr>
        <th style="width: 10px">#</th>
        <th>Menu</th>
        <th>Times</th>
        <th>Quantitative</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr th:each="foodPhase,row : ${PHASE.foodPhaseList}">
        <td th:text="${row.count}"></td>
        <td>
            <select class="form-control" th:field="*{fPresModels[__${row.index}__].f}">
                <option th:value="${foodPhase.food.id}"
                        th:text="${foodPhase.food.name}"></option>
                <option th:each="food : ${FOODS}"
                        th:value="${food.id}"
                        th:text="${food.name}"
                        th:if="${foodPhase.food.id != food.id}"></option>
            </select>
        </td>
        <td style="min-width: 75px;">
            <select class="form-control" th:field="*{fPresModels[__${row.index}__].fTime}">
                <option th:each="time : ${TIMES}" th:value="${time}"
                        th:text="${time}"></option>
            </select>
        </td>
        <td><input type="text" class="form-control" th:field="*{fPresModels[__${row.index}__].fQuantity}"
                   placeholder="Quantity"/></td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{fPresModels[__${row.index}__].fNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>
        </td>

    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowFoods('Foods')">Add</a>
</body>
</html>