<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<h4>Foods</h4>

<label class="form-lable">Nutritional Assessment</label>
<a class="btn btn-link" onclick="popup('Nutritional')" th:if="${FOODINGREDIENT != null}">View Detail</a>
<small th:if="${FOODINGREDIENT != null}"> or</small>
<a class="btn btn-link" th:href="@{/createNutrition(patientID=${PATIENT.id})}">Create New</a>

<table class="table table-striped" id="Foods">
    <tr>
        <th style="width: 10px">#</th>
        <th>Name</th>
        <th>Times</th>
        <th>Quantitative</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr>
        <td>1</td>
        <td style="min-width: 155px;">
            <select class="form-control" th:field="*{fPresModels[0].f}">
                <option th:each="food : ${FOODS}" th:value="${food.id}"
                        th:text="${food.name}"></option>
            </select>
        </td>
        <td style="min-width: 75px;">
            <select class="form-control" th:field="*{fPresModels[0].fTime}">
                <option th:each="time : ${TIMES}" th:value="${time}"
                        th:text="${time}"></option>
            </select>
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:field="*{fPresModels[0].fQuantity}"
                   placeholder="Quantity" required="required"/>
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{fPresModels[0].fNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>
        </td>
    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowFoods('Foods')">Add</a>

</body>
</html>