<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Medicine</h4>
<!-- table medicine -->
<table class="table table-striped" id="medicine">
    <tr>
        <th style="width: 10px">#</th>
        <th>Medicine</th>
        <th>Times</th>
        <th>Quantity</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr th:each="medicalPhase,row : ${PHASE.medicinePhaseList}">
        <td th:text="${row.count}"></td>
        <td>
            <select class="form-control" th:field="*{mPresModels[__${row.index}__].m}">
                <option th:value="${medicalPhase.medicine.id}"
                        th:text="${medicalPhase.medicine.name}"></option>
                <option th:each="medicine : ${MEDICINES}"
                        th:value="${medicine.id}"
                        th:text="${medicine.name}"
                        th:if="${medicalPhase.medicine.id != medicine.id}"></option>
            </select>
        </td>
        <td><select class="form-control" th:field="*{mPresModels[__${row.index}__].mTime}">
            <option th:each="time : ${TIMES}" th:value="${time}"
                    th:text="${time}"></option>
        </select>
        </td>
        <td class="form-inline" style="max-width: 180px;">
            <input type="text" class="form-control" style="max-width: 47%;" th:field="*{mPresModels[__${row.index}__].mQuantity}"
                   placeholder="Quanlity"/>
            <input type="text" class="form-control" style="max-width: 50%;" th:field="*{mPresModels[__${row.index}__].mUnit}"
                   placeholder="Unit"/>
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{mPresModels[__${row.index}__].mNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowMedicine(this)"></a>
        </td>
    </tr>

</table>
<!-- /.table medicine -->
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowMedicine('medicine')">Add</a>

</body>
</html>