<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<h4>Medicine</h4>
<!-- table medicine -->
<table class="table table-striped" id="medicine">
    <tr>
        <th style="width: 10px">#</th>
        <th>Medicine</th>
        <th>Times</th>
        <th>Quanlity</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            <select class="form-control" th:field="*{mPresModels[0].m}">

                <option th:each="medicine : ${MEDICINES}" th:value="${medicine.id}"
                        th:text="${medicine.name}"></option>
            </select>
        </td>
        <td><select class="form-control" th:field="*{mPresModels[0].mTime}">
            <option th:each="time : ${TIMES}" th:value="${time}"
                    th:text="${time}"></option>
        </select>
        </td>
        <td><input type="text" class="form-control" th:field="*{mPresModels[0].mQuantity}"
                   placeholder="Quanlity"/>
            <input type="text" class="form-control" th:field="*{mPresModels[0].mUnit}"
                   placeholder="Unit"/>
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{mPresModels[0].mNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowMedicine(this)"></a>
        </td>
    </tr>

</table>
<!-- /.table medicine -->
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowMedicine('medicine')">Add</a>

</body>
</html>