<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Medicines</h4>
<!-- table medicine -->
<table class="table table-striped" id="medicine">
    <tr>
        <th style="width: 10px;">#</th>
        <th style="min-width: 155px;">Medicine</th>
        <th style="width: 80px;">Times</th>
        <th style="width: 40px;">Quantity</th>
        <th style="width: 110px;">Unit</th>
        <th>Advice</th>
        <th>#</th>
    </tr>
    <tr th:each="medicalPhase,row : ${PHASE.medicinePhaseList}" class="rowMedi">
        <td th:text="${row.count}"></td>
        <td class="form-group">
            <select class="form-control" th:name="mPresModels[__${row.index}__].m" th:id="mPresModelsM__${row.index}__"
                    onchange="setMedicineUnit(event)" data-rule-min="1" data-msg-min="Please select.">
                <option value="0">Select</option>
                <option th:each="medicine : ${MEDICINES}"
                th:value="${medicine.id}"
                th:text="${medicine.name}"
                th:selected="${medicalPhase.medicine.id == medicine.id}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <select class="form-control" th:name="mPresModels[__${row.index}__].mTime" th:id="mPresModelsmTime__${row.index}__"
                    data-rule-min="1" data-msg-min="Please select.">
                <option th:each="time : ${TIMES}"
                        th:value="${time.numOfTime}"
                        th:text="${time.numOfTime}"
                        th:selected="${time.numOfTime == medicalPhase.numberOfTime}"></option>
            </select>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:name="mPresModels[__${row.index}__].mQuantity"
                   style="text-align: right;" th:value="${medicalPhase.quantitative}"
                   placeholder="Quantity" data-rule-range="1,10" data-msg-range="Out of range 1-10"/>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td class="form-group">
            <input type="text" th:value="${medicalPhase.medicine.unit}" th:name="mPresModels[__${row.index}__].mUnit"
                   class="form-control" data-rule-required="true" data-msg-required="Please input."
                   placeholder="Unit"/>
            <!--<div class="help-block with-errors"></div>-->
        </td>
        <td>
            <input type="text" class="form-control" th:value="${medicalPhase.advice}"
                   th:name="mPresModels[__${row.index}__].mNote" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowMedicine(this)"></a>
        </td>
    </tr>

</table>
<!-- /.table medicine -->
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowMedicine('medicine')">Add</a>

</body>
</html>