<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<!-- Nutritional -->
<div id="blanket" style="display:none;"></div>
<div id="Nutritional" style="display:none;">
    <!-- box -->
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Nutritional</h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" onclick="popup('Nutritional')">
                    <i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" th:object="${FOODINGREDIENT}" style="overflow: auto;height: 600px;">
            <h4>Meal Assessment</h4>
            <div style="margin: auto;">
                <table id="rateEnergyMeals" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Rate Energy Meals</th>
                        <th style="width: 190px;">Energy</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="control-label">Breakfast</label>
                        </td>
                        <td>
                            <input th:field="*{breakfast}" type="text" class="form-control" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">BreakTime Morning</label>
                        </td>
                        <td>
                            <input th:field="*{breakTimeMorning}" type="text" class="form-control" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Lunch</label>
                        </td>
                        <td>
                            <input th:field="*{lunch}"  readonly="readonly" type="text" class="form-control" placeholder="Lunch"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">BreakTime Afternoon</label></td>
                        <td>
                            <input th:field="*{breakTimeAfternoon}" readonly="readonly" type="text" class="form-control" placeholder="BreakTime Afternoon"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Dinner</label></td>
                        <td>
                            <input th:field="*{dinner}"  readonly="readonly" type="text" class="form-control" placeholder="Dinner"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Eat Late At Night</label></td>
                        <td>
                            <input th:field="*{eatLateAtNight}" readonly="readonly" type="text" class="form-control" placeholder="Eat Late At Night"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h4>Nutritional Assessment</h4>
            <div style="margin: auto;">
                <table id="evaluationIndex" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Evaluation Index</th>
                        <th style="width: 190px;">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label class="control-label">Starch (g)</label>
                        </td>
                        <td>
                            <input th:field="*{starch}" type="text" readonly="readonly"  class="form-control" placeholder="Starch"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Protein (g)</label>
                        </td>
                        <td>
                            <input th:field="*{protein}" readonly="readonly" type="text" class="form-control" placeholder="Protein"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Fat (g)</label>
                        </td>
                        <td>
                            <input th:field="*{fat}" readonly="readonly" type="text" class="form-control" placeholder="Fat"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Animal Protein (g)</label>
                        </td>
                        <td>
                            <input th:field="*{animalProtein}" readonly="readonly" type="text" class="form-control" placeholder="Animal Protein"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Animal Fat (g)</label>
                        </td>
                        <td>
                            <input th:field="*{animalFat}" readonly="readonly" type="text" class="form-control" placeholder="Animal Fat"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Calcium (mg)</label></td>
                        <td>
                            <input th:field="*{calcium}" readonly="readonly" type="text" class="form-control" placeholder="Calcium"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Sodium (mg)</label></td>
                        <td>
                            <input th:field="*{sodium}" readonly="readonly" type="text" class="form-control" placeholder="Sodium"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Iron /1000 Kcal (mg)</label></td>
                        <td>
                            <input th:field="*{iron}" readonly="readonly" type="text" class="form-control" placeholder="Iron"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Zinc /1000 Kcal (mg)</label>
                        </td>
                        <td>
                            <input th:field="*{zinc}" readonly="readonly" type="text"  class="form-control" placeholder="Zinc"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Vitamin B1/1000 Kcal (mg)</label>
                        </td>
                        <td>
                            <input th:field="*{vitaminB1}" readonly="readonly" type="text" class="form-control" placeholder="Vitamin B1"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">Vitamin C/1000 Kcal (mg)</label>
                        </td>
                        <td>
                            <input th:field="*{vitaminC}" readonly="readonly" type="text" class="form-control" placeholder="Vitamin C"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Vitamin B2/1000 Kcal (mg)</label></td>
                        <td>
                            <input th:field="*{vitaminB2}" readonly="readonly" type="text" class="form-control" placeholder="Vitamin B2"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Vitamin PP/1000 Kcal (mg)</label></td>
                        <td>
                            <input th:field="*{vitaminPP}" readonly="readonly" type="text" class="form-control" placeholder="Vitamin PP"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Fiber (g)</label></td>
                        <td>
                            <input th:field="*{fiber}" readonly="readonly" type="text" class="form-control" placeholder="Fiber"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.Nutritional -->
</body>
</html>