<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Nutritional -->
<div id="popupPatient" style="display:none;">
    <!-- box -->
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Patient</h3>
            <!-- /.box-tools -->
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" onclick="popup('popupPatient')">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row" style="margin: 15px">
                <label class="col-sm-3 control-label">Name</label>

                <div class="col-sm-5">
                    <label id = "txtName">Name</label>
                </div>
            </div>
            <div class="row" style="margin: 15px">
                <label class="col-sm-3 control-label">Birthday</label>
                <div class="col-sm-3">
                    <label id = "txtBirthday">Birthday</label>
                </div>
            </div>
            <div class="row" style="margin: 15px">
                <label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-3">
                    <label id = "txtEmail">Birthday</label>
                </div>
            </div>
            <div class="row" style="margin: 15px">
                <label class="col-sm-3 control-label">Gender</label>
                <div class="btn-group col-sm-3" data-toggle="buttons">
                    <input type ="text" style="width: 90px" id = "btnGender"/>
                </div>
            </div>
            <div class="footer">
                <a href = "/test" class ="btn btn-info" id = "btnLink">This is old patient</a>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.Nutritional -->
</body>
</html>