<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="praticeData">
    <div id="chart" style="width: 70%;">
    <h4>Calories Chart</h4>
    <div class="chart">
        <canvas id="barChart" style="height:230px"></canvas>
    </div>
    <i class="fa fa-square text-orange"></i>
    <h4 style="display: inline;"> Calories Required </h4>
    <i class="fa fa-square text-green"></i>
    <h4 style="display: inline;"> Calories Consumed</h4>
</div>
    <div id="totalPrac" style="width: 30%;">

    </div>
</div>
</body>
</html>