<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Practice Data</h4>
            </div>
            <div class="modal-body">
                <div class="chart">
                    <canvas id="barChart" style="height:230px"></canvas>
                </div>

                <i class="fa fa-square text-green"></i>
                <h4 style="display: inline;"> Calories Consumed</h4>
                <i class="fa fa-square text-orange"></i>
                <h4 style="display: inline;"> Calories Required </h4>
                <div style="margin: auto;" th:object="${DATAPRACS}">
                    <table id="practiceData" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 200px;">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">AVG Kcal Consumed/ Kcal Estimate</label>
                            </td>
                            <td style="text-align: center;">
                                <i th:text="*{avgKcalConsumed}" class="text-green"></i>kcal / <i th:text="*{kcalEstimate}"
                                                                                                  class="text-orange"></i>kcal
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Status</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #f0ad4e;color: white;" th:if="*{status == 1}"
                                       value="Under Required"/>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #5bc0de;color: white;" th:if="*{status == 2}"
                                       value="Completed"/>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #d9534f;color: white;" th:if="*{status == 3}"
                                       value="Excessive"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Complete Practice Percent</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #f0ad4e;color: white;" th:if="*{status == 3}"
                                       th:value="${#numbers.formatDecimal(DATAPRACS.ratioCompletePractice, 1, 'COMMA', 1, 'POINT')}"/>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #5bc0de;color: white;" th:if="*{status == 2}"
                                       th:value="${#numbers.formatDecimal(DATAPRACS.ratioCompletePractice, 1, 'COMMA', 1, 'POINT')}"/>
                                <input type="text" class="form-control" readonly="readonly"
                                       style="text-align: center;background-color: #d9534f;color: white;" th:if="*{status == 1}"
                                       th:value="${#numbers.formatDecimal(DATAPRACS.ratioCompletePractice, 1, 'COMMA', 1, 'POINT')}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Modal -->
</body>
</html>