<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div id="praticeResult">
        <!-- box -->
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Practice Result</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" onclick="popup('praticeResult')">
                        <i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" th:object="${DATAPRACS}" style="overflow: auto;height: 600px;">
                <h4>Practice Result</h4>
                <div style="margin: auto;">
                    <table id="practiceData" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 200px;">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">AVG Kcal Consumed/ Kcal Estimate</label>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">BreakTime Morning</label>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Lunch</label>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">BreakTime Afternoon</label></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Dinner</label></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Eat Late At Night</label></td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box -->
</div>
</body>
</html>