<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Practices</h4>
<table class="table table-striped" id="Practice">
    <tr>
        <th style="width: 10px">#</th>
        <th style="width: 160px;">Name</th>
        <th style="width: 80px;">Times</th>
        <th style="width: 100px;">Quantitative</th>
        <th>Advice</th>
        <th>#</th>
    </tr>
    <tr th:each="practicePhase,row : ${PHASE.practicePhaseList}" class="rowPrac">
        <td th:text="${row.count}"></td>
        <td class="form-group">
            <input type="text" placeholder="Practice Name" class="form-control" th:name="pPresModels[__${row.index}__].p"
                   th:value="${practicePhase.practice.name}"
                   th:id="pPresModelsP__${row.index}__" data-rule-required="true" data-msg-required="Please input."
                   oninput="viewAutoCompleteP(this)"/>
            <div th:id="pPresModelsP__${row.index}__item" class="form-control"
                 style="visibility: hidden;height: auto;"></div>
        </td>
        <td class="form-group">
            <select class="form-control" th:name="pPresModels[__${row.index}__].pTime" data-rule-min="1" data-msg-min="Please select.">
                <option th:each="time : ${TIMES}"
                        th:value="${time.numOfTime}"
                        th:text="${time.numOfTime}"
                        th:selected="${practicePhase.numberOfTime == time.numOfTime}"></option>
            </select>
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:name="pPresModels[__${row.index}__].pIntensity"
                   th:value="${practicePhase.timeDuration}"
                   placeholder="Quantity" data-rule-required="true" data-msg-required="Please input."/>
        </td>
        <td>
            <input type="text" class="form-control" th:value="${practicePhase.advice}"
                   th:name="pPresModels[__${row.index}__].pNote" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowPractice(this)"></a>
        </td>
    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowPractice('Practice')">Add</a>

<div class="form-group" style="margin-top: 15px;" th:if="${DATAPRACS != null}">
    <label class="col-md-3 control-label">Practice Data</label>
    <a class="btn btn-link" data-toggle="modal" data-target="#practiceResult">View Detail</a>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Kcal Estimate</label>

    <div class="col-md-2">
        <input th:name="kcalRequire" id = "kcalRequire" data-rule-required="true" data-msg-required="Please input." th:value="${#numbers.formatDecimal(model.kcalRequire, 1, 'POINT', 0, 'COMMA')}" style="text-align: right;" type="text" class="form-control hsts"/>
        <!--<div class="help-block with-errors"></div>-->
    </div>
    <label class="col-md-1 control-label">Kcal/Day</label>
</div>
</body>
</html>