<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Practices</h4>
<table class="table table-striped" id="Practice">
    <tr>
        <th style="width: 10px">#</th>
        <th>Name</th>
        <th>Times</th>
        <th>Quantitative</th>
        <th>Note</th>
    </tr>
    <tr th:each="practiceTreatment,row : ${TREATMENT.practiceTreatmentList}">
        <td th:text="${row.count}"></td>

        <td>
            <input th:value="${practiceTreatment.practice.name}" readonly="readonly" class="form-control"/>
        </td>
        <td>
            <input th:value="${practiceTreatment.numberOfTime}" readonly="readonly" class="form-control"/>
        </td>
        <td>
            <input th:value="${practiceTreatment.timeDuration}" readonly="readonly" class="form-control"/>
        </td>
        <td>
            <input th:value="${practiceTreatment.advice}" readonly="readonly" class="form-control"/>
        </td>
    </tr>
</table>
<div class="form-group" style="margin-top: 15px;">
    <label class="col-sm-2 control-label">Kcal Estimet</label>

    <div class="col-sm-4">
        <input readonly="readonly" th:value="${TREATMENT.caloriesBurnEveryday}" type="text" class="form-control" />
    </div>
    <label class="col-sm-1 control-label">Kcal/Day</label>
</div>
</body>
</html>