<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<h4>Practices</h4>
<table class="table table-striped" id="Practice">
    <tr>
        <th style="width: 10px">#</th>
        <th>Name</th>
        <th>Times</th>
        <th>Quantitative</th>
        <th>Note</th>
        <th>#</th>
    </tr>
    <tr th:each="practicePhase,row : ${PHASE.practicePhaseList}">
        <td th:text="${row.count}"></td>

        <td style="min-width: 155px;" class="form-group">
            <select class="form-control" th:field="*{pPresModels[__${row.index}__].p}" required="required" data-error="Choose at least one">
                <option th:value="${practicePhase.practice.id}"
                        th:text="${practicePhase.practice.name}"></option>
                <option th:each="practice : ${PRACTICES}"
                        th:value="${practice.id}"
                        th:text="${practice.name}"
                        th:if="${practicePhase.practice.id != practice.id}"></option>
            </select>
            <div class="help-block with-errors"></div>
        </td>
        <td style="min-width: 75px;" class="form-group">
            <select class="form-control" th:field="*{pPresModels[__${row.index}__].pTime}" required="required" data-error="Choose at least one">
                <option value="0" disabled="disabled">Select</option>
                <option th:each="time : ${TIMES}" th:value="${time}"
                        th:text="${time}"></option>
            </select>
            <div class="help-block with-errors"></div>
        </td>
        <td class="form-group">
            <input type="text" class="form-control" th:field="*{pPresModels[__${row.index}__].pIntensity}"
                   placeholder="Quantity" required="required" data-remote="/validateStr" data-error="Wrong input"/>
            <div class="help-block with-errors"></div>
        </td>
        <td>
            <input type="text" class="form-control"
                   th:field="*{pPresModels[__${row.index}__].pNote}" placeholder="Advice"/>
        </td>
        <td>
            <a class="btn btn-danger fa fa-remove" onclick="deleteRowPractice(this)"></a>
        </td>
    </tr>
</table>
<a style="width: 50px;color: white;" class="btn btn-primary"
   onclick="addRowPractice('Practice')">Add</a>
<div class="form-group" style="margin-top: 15px;" th:if="${DATAPRACS != null}">
    <label class="col-md-3 control-label">Practice Data</label>
    <a class="btn btn-link" onclick="popup('praticeResult')">View Detail</a>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Kcal Estimate</label>

    <div class="col-md-4">
        <input th:field="*{kcalRequire}" style="text-align: right;" type="text" class="form-control" data-remote="/validateData"
                required="required" data-error="Wrong input"/>
    </div>
    <label class="col-md-1 control-label">Kcal/Day</label>
    <div class="help-block with-errors"></div>
</div>
</body>
</html>