<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <section class="content-header">
        <h1>
            Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="listuser.html">Admin</a></li>
            <li class="active">Accounts</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Account Profile</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form action="" method="POST" class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Username</label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="name" value="${account.username}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">New Password</label>

                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Confirm Password</label>

                                    <div class="col-sm-3">
                                        <input type="password" class="form-control" id="confPassword"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">FullName</label>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="fullname" placeholder="FullName" value="${account.fullName}"/>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email</label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="email" placeholder="Email" value="${account.email}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Role</label>

                                    <div class="col-sm-5 ui-widget">
                                        <select id="role">
                                            <option value="ss">Select one...</option>
                                            <option value="2">Doctor</option>
                                            <option value="3">Nurse</option>
                                            <option value="4">Staff</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status</label>

                                    <div class="col-sm-5 ui-widget">
                                        <select id="combobox">
                                            <option value="Active">Active</option>
                                            <option value="De-active">De-active</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary pull-right">Update</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>

    </section>
</div>
<!-- /.content-wrapper -->

</body>
</html>