<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">

  <section class="content-header">
    <h1>
      Search Accounts
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="listuser.html">Admin</a></li>
      <li class="active">Accounts</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header" style="padding: 0px;">
            <div class="form-group">
              <div class="col-sm-4">
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search Username...">
                          <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                              <i class="fa fa-search"></i></button>
                          </span>
                  </div>
                </form>
                <!-- /.search form -->
              </div>

              <form action="#type your action here" method="POST">
                <button class="btn btn-default" style="margin-top:10px; margin-right:10px;float:left;">Insert Accounts By Excel</button>
                <input id="upfile" type="file" value="upload" style="visibility: hidden; margin-bottom: -11px;"/>
                <button class="btn btn-default" style="float:left">Download Excel Template </button>
              </form>

            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="listPatients" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>UserName</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td><a href="#">khuongmh</a></td>
                <td>
                  Administrator
                </td>
                <td>Active</td>
                <td>
                  <a href="patient1.html" class="btn btn-primary">Update</a>
                  <a href="patient1.html" class="btn btn-danger">Delete</a>
                </td>
              </tr>

              <tr>
                <td>2</td>
                <td><a href="updateuser.html">quantd</a></td>
                <td>
                  Patient
                </td>
                <td>
                  De-active
                </td>
                <td>
                  <a href="patient1.html" class="btn btn-primary">Update</a>
                  <a href="patient1.html" class="btn btn-danger">Delete</a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>#</th>
                <th>UserName</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
              </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </section>


</div>
<!-- /.content-wrapper -->

</body>
</html>