<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Phase info
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Phase info</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- content -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <!-- hidden data-->
                    <input type="hidden" id="phaseId" th:value="${PHASE.id}"/>
                    <!-- -->
                    <form class="form-horizontal" id = "mainForm">
                        <div class="box-body">
                            <div class="nav-tabs-custom" style="box-shadow: none;">

                                <!-- tab header -->
                                <ul class="nav nav-tabs">
                                    <li class="active" id="li_tab_1">
                                        <a href="#tab_1" data-toggle="tab" onclick="changeTab('#tab_1', '#li_tab_1')">Medicine</a>
                                    </li>
                                    <li id="li_tab_2">
                                        <a href="#tab_2" data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')">Food</a>
                                    </li>
                                    <li id="li_tab_3">
                                        <a href="tab_3" data-toggle="tab" onclick="changeTab('#tab_3', '#li_tab_3')">Practice</a>
                                    </li>
                                </ul>
                                <!-- .tab header -->

                                <!-- tab body -->
                                <div class="tab-content">
                                    <!-- tab 1: medicine -->
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a data-toggle="modal" data-target="#insertMedicineDialog" class="btn btn-info">Add new medicine</a>
                                            </div>
                                        </div>

                                        <table id="medicineContent" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Medicine</th>
                                                <th>Times</th>
                                                <th>Quantitative</th>
                                                <th>Unit</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <!--<tbody id="table-body"></tbody>-->
                                            <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Medicine</th>
                                                <th>Times</th>
                                                <th>Quantitative</th>
                                                <th>Unit</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- end tab 1 -->

                                    <!-- tab 2: food-->
                                    <div class="tab-pane" id="tab_2">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a data-toggle="modal" data-target="#insertFoodDialog" class="btn btn-info">Add new food</a>
                                            </div>
                                        </div>
                                        <table id="foodContent" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Food</th>
                                                <th>Number of time</th>
                                                <th>Quantitative</th>
                                                <th>Unit</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <!--<tbody id="table-body"></tbody>-->
                                            <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Food</th>
                                                <th>Number of time</th>
                                                <th>Quantitative</th>
                                                <th>Unit name</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- end tab 2-->

                                    <!-- tab 3: food-->
                                    <div class="tab-pane" id="tab_3">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <a data-toggle="modal" data-target="#insertPracticeDialog" class="btn btn-info">Add new practice</a>
                                            </div>
                                        </div>

                                        <table id="practiceContent" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Practice</th>
                                                <th>Time Duration</th>
                                                <th>Number of times</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <!--<tbody id="table-body"></tbody>-->
                                            <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Practice</th>
                                                <th>Time Duration</th>
                                                <th>Number of times</th>
                                                <th>Advice</th>
                                                <th>Action</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- end tab 3-->
                                </div>
                                <!-- tab body -->
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-default">Cancel</button>
                            <button type="button" class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- diaglog -->

        <!-- confirm delete modal -->
        <div class="modal fade" id="deleteMedicineDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deteteRegimen">Delete message</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title" id="confirmMessageLabel">Are you wish to delete this medicine?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class ="btn btn-danger" id = "btnDeleteMedicine" data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .confirm delete modal -->

        <!-- update medicine modal -->
        <div class="modal fade" id="updateMedicineDialog" tabindex="-1" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updateMedicineForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updateMedicine">Update</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Medicine name*: </label>

                                <div class="col-sm-3">
                                    <label class="col-sm-2 control-label" id="updateMedicineName"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="updateTimes" class="form-control" id="updateTimes"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateTimes">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quantitative*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="updateQuantitative" class="form-control" id="updateQuantitative"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateQuantitative">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Note*: </label>

                                <div class="col-sm-4">
                                    <textarea id="updateNote"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update medicine modal -->

        <!-- insert medicine modal -->
        <div class="modal fade" id="insertMedicineDialog" role="dialog" aria-labelledby="addMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "insertMedicineForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addMedicine">Insert</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Medicine name*:</label>

                                <div class="col-sm-4">
                                    <select class="form-control" id ="insertMedicine" th:name="insertMedicine" ></select>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertMedicine"/>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="insertTimes" class="form-control" id="insertTimes"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertTimes">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quantitative*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="insertQuantitative" class="form-control" id="insertQuantitative"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertQuantitative">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Note*: </label>

                                <div class="col-sm-6">
                                    <textarea id="insertNote" th:name = "insertNote" th:width="300px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- .insert medicine modal -->

        <!-- TODO update practice modal-->
        <div class="modal fade" id="updatePracticeDialog" tabindex="-1" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updatePracticeForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updatePractice">Update</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Practice name*: </label>

                                <div class="col-sm-4">
                                    <label class="col-sm-4 control-label" id="updatePracticeName"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times Duration*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="updatePracticeTimeDuration" class="form-control" id="updatePracticeTimeDuration"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidTimeDuration">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Number of times*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="updatePracticeNumberOfTime" class="form-control" id="updatePracticeNumberOfTime"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdatePracticeNumberOfTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Advice*: </label>

                                <div class="col-sm-4">
                                    <textarea id="updatePracticeAdvice"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update practice modal -->

        <!-- TODO insert practice modal -->
        <div class="modal fade" id="insertPracticeDialog" role="dialog" aria-labelledby="addMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "insertPracticeForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addPractice">Insert</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Practice name*:</label>

                                <div class="col-sm-4">
                                    <select class="form-control" id ="insertPractice" th:name="insertPractice" ></select>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertPractice"/>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Time Duration*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="insertPracticeTimeDuration" class="form-control" id="insertPracticeTimeDuration"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertTimeDuration">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Number of time*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="insertPracticeNumberOfTime" class="form-control" id="insertPracticeNumberOfTime"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertPracticeNumberOfTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Advice*: </label>

                                <div class="col-sm-6">
                                    <textarea id="insertPracticeAdvice" th:name = "insertPracticeAdvice" th:width="300px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .insert practice modal-->

        <!-- delete practice modal-->
        <div class="modal fade" id="deletePracticeDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deletePracticeLabel">Delete message</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title" id="confirmMessage3">Are you wish to delete this practice?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class ="btn btn-danger" id = "btnDeletePractice" data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .delete practice modal-->

        <!-- insert food modal -->
        <div class="modal fade" id="insertFoodDialog" role="dialog" aria-labelledby="addMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "insertFoodForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="addFood">Insert</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Medicine name*:</label>

                                <div class="col-sm-4">
                                    <select id ="insertFood" th:name="insertFood" class="form-control">
                                    </select>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertFood"/>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times*: </label>

                                <div class="col-sm-4">
                                    <select id ="insertFoodUnitName" th:name="insertFoodUnitName" class="form-control">
                                    </select>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertFoodUnitName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="insertFoodTime" class="form-control" id="insertFoodTime"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertFoodTime">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quantitative*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="insertFoodQuantitative" class="form-control" id="insertFoodQuantitative"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertFoodQuantitative">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Advice*: </label>

                                <div class="col-sm-6">
                                    <textarea id="insertFoodAdvice" th:name = "insertFoodAdvice" th:width="300px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- .insert food modal -->

        <!-- update food dialog-->
        <div class="modal fade" id="updateFoodDialog" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updateFoodForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updateFood">Update</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Food name*: </label>

                                <div class="col-sm-3">
                                    <label class="col-sm-2 control-label" id="updateFoodName"></label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Times*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="updateFoodTime" class="form-control" id="updateFoodTime"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateFoodTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quantitative*: </label>

                                <div class="col-sm-2">
                                    <input type="number" th:name="updateFoodQuantitative" class="form-control" id="updateFoodQuantitative"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateFoodQuantitative">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Unit name*: </label>

                                <div class="col-sm-3">
                                    <select class="form-control" id = "updateFoodUnit" name="updateFoodUnit">
                                        <option value="" disabled="disabled">Choose an unit</option>
                                        </select>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateFoodUnit">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Note*: </label>

                                <div class="col-sm-4">
                                    <textarea id="updateFoodAdvice"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update food dialog-->

        <!-- confirm delete modal -->
        <div class="modal fade" id="deleteFoodDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteFood">Delete message</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title" id="confirmMessage2">Are you wish to delete this food?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class ="btn btn-danger" id = "btnDeleteFood" data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .confirm delete modal -->

        <!-- message modal-->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Result</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title" id = "messageLabel">Test</h4>
                    </div>
                    <div class="modal-footer">
                        <a class ="btn btn-info"  data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- .message modal-->

    </section><!-- /.content -->

    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>
    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery-ui/jquery-ui.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>

    <script th:src = "@{/static/bower/datatables/media/js/jquery.dataTables.min.js}"></script>

    <!-- select 2-->
    <!--<link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet"/>-->
    <!--<script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>-->

    <script th:src = "@{/static/js/detailPhase.js}"></script>

    <!-- css add -->
    <link th:href="@{/static/css/detailPhase.css}" rel="stylesheet"/>

</div><!-- /.content-wrapper -->
</body>
</html>
