<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Search Patients
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Food</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-sm-2">
                            <a href="#" data-toggle="modal" onclick="viewCreate()" class="btn btn-info">Create new food</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="dataContent" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Food name</th>
                                <th>Unit list</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Food name</th>
                                <th>Unit list</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- message modal-->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="messageLabel1">Message</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h4 class="modal-title" id="messageLabel">No available prescription for this patient</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- .message modal-->

        <div id="superParent" style="
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    " onclick="hideMesurement()">
        </div>
        <div id="child" style="
    display: none;
    width: 50%;
    height: 98%;
    z-index: 10000;
    background-color: #ffffff;
    opacity: 1;
    position: fixed;
    top: 1%;
    left: 25%;
    bottom: 0;
    right: 0;">
            <form class="form-horizontal" onsubmit="return false;">
                <div class="box-body">
                    <h2 id="headerh2" style="margin-bottom: 20px;margin-left: 20px;">Create New Food</h2>
                    <input id="foodId" type="hidden" value=""/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Food name*: </label>

                        <div class="col-sm-4">
                            <input type="text" autocomplete="off" class="form-control" id="mName" oninput="checkValidateMeasurement(this,'errorName')" value=""/>
                        </div>
                        <label class="col-sm-4 control-label" id="errorName" style="color: red;margin-left: -80px; display: none;"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Unit name*:</label>
                        <div id="autoCompleteItem" style="  background-color: #E0E0E0;
                                                            word-wrap: break-word;
                                                            width: 12.5%;
                                                            margin-left: 196px;
                                                            margin-top: 34px;
                                                            z-index: 1;
                                                            position: absolute">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" autocomplete="off" id="mUnit" class="form-control" oninput="checkValidateMeasurement(this,'errorUnit')" value=""/>
                        </div>
                        <label class="col-sm-4 control-label" id="errorUnit" style="color: red;margin-left: -80px; display: none"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Default Kcal Estimate/ 100g*:</label>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" id="mKcal" class="form-control hsts hsts-num" oninput="checkValidateValue(this,'errorKcal')" value="0.0"/>
                        </div>
                        <label class="col-sm-4 control-label" id="errorKcal" style="color: red;margin-left: -80px; display: none"> </label>
                    </div>
                    <table id="evaluationIndex" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Evaluation Index</th>
                            <th style="width: 100px;">Result</th>
                            <th>Evaluation Index</th>
                            <th style="width: 100px;">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">Starch* (g)</label>
                            </td>
                            <td class="form-group">
                                <input id="starch" autocomplete="off" type="number" value="0.0" class="form-control hsts hsts-num"
                                       oninput="checkValidateValue(this,'invalidstarch')" placeholder="Starch"/>
                                <div class="help-block with-errors" id="invalidstarch"></div>
                            </td>

                            <td><label class="control-label">Iron* /1000 Kcal (mg)</label></td>
                            <td class="form-group">
                                <input id="iron" autocomplete="off" type="number" value="0.0"
                                       oninput="checkValidateValue(this,'invalidiron')"
                                       class="form-control hsts hsts-num"
                                       placeholder="Iron"/>
                                <div class="help-block with-errors" id="invalidiron"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Protein* (g)</label>
                            </td>
                            <td class="form-group">
                                <input id="protein" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidprotein')" value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Protein" />
                                <div class="help-block with-errors" id="invalidprotein"></div>
                            </td>

                            <td>
                                <label class="control-label">Zinc* /1000 Kcal (mg)</label>
                            </td>
                            <td>
                                <input id="zinc" autocomplete="off" type="number" value="0.0"
                                       oninput="checkValidateValue(this,'invalidzinc')" class="form-control hsts hsts-num"
                                       placeholder="Zinc"/>
                                <div class="help-block with-errors" id="invalidzinc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Fat* (g)</label>
                            </td>
                            <td>
                                <input id="fat" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidfat')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Fat"/>
                                <div class="help-block with-errors" id="invalidfat"></div>
                            </td>

                            <td>
                                <label class="control-label">Vitamin B1*/1000 Kcal (mg)</label>
                            </td>
                            <td>
                                <input id="vitaminB1" autocomplete="off"
                                       oninput="checkValidateValue(this,'invalidvitaminB1')"
                                       type="number" value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Vitamin B1"/>
                                <div class="help-block with-errors" id="invalidvitaminB1"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Animal Protein* (g)</label>
                            </td>
                            <td>
                                <input id="animalProtein" autocomplete="off" type="number" value="0.0"
                                       oninput="checkValidateValue(this,'invalidanimalProtein')"
                                       class="form-control hsts hsts-num" placeholder="Animal Protein"/>
                                <div class="help-block with-errors" id="invalidanimalProtein"></div>
                            </td>

                            <td>
                                <label class="control-label">Vitamin C*/1000 Kcal (mg)</label>
                            </td>
                            <td>
                                <input id="vitaminC" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidvitaminC')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Vitamin C"/>
                                <div class="help-block with-errors" id="invalidvitaminC"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">Animal Fat* (g)</label>
                            </td>
                            <td>
                                <input id="animalFat" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidanimalFat')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Animal Fat"/>
                                <div class="help-block with-errors" id="invalidanimalFat"></div>
                            </td>

                            <td><label class="control-label">Vitamin B2*/1000 Kcal (mg)</label>
                            </td>
                            <td>
                                <input id="vitaminB2" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidvitaminB2')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Vitamin B2"/>
                                <div class="help-block with-errors" id="invalidvitaminB2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Calcium* (mg)</label></td>
                            <td>
                                <input id="calcium" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidcalcium')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Calcium"/>
                                <div class="help-block with-errors" id="invalidcalcium"></div>
                            </td>

                            <td><label class="control-label">Vitamin PP*/1000 Kcal (mg)</label>
                            </td>
                            <td>
                                <input id="vitaminPP" autocomplete="off"
                                       oninput="checkValidateValue(this,'invalidvitaminPP')"
                                       type="number" value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Vitamin PP"/>
                                <div class="help-block with-errors" id="invalidvitaminPP"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Sodium* (mg)</label></td>
                            <td>
                                <input id="sodium" autocomplete="off" type="number"
                                       oninput="checkValidateValue(this,'invalidsodium')"
                                       value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Sodium"/>
                                <div class="help-block with-errors" id="invalidsodium"></div>
                            </td>

                            <td><label class="control-label">Fiber* (g)</label></td>
                            <td>
                                <input id="fiber" autocomplete="off" type="number" value="0.0" class="form-control hsts hsts-num"
                                       placeholder="Fiber"
                                       oninput="checkValidateValue(this,'invalidfiber')"/>
                                <div class="help-block with-errors" id="invalidfiber"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button id="create" class="btn btn-default" onclick="createMeasurement()" style="float: right;margin-right: 10px;margin-top: 10px">
                            Create New Food
                        </button>
                        <button id="update" class="btn btn-default" onclick="updateMeasurement()" style="float: right;margin-right: 10px;margin-top: 10px">
                            Update Food
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="updateDialog" tabindex="-1" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updateForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updateMedicine">Update</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Food name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="updateFoodName" class="form-control" id="updateFoodName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateFoodName">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update modal -->

        <!-- /.row -->
    </section>
    <!-- /.content -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>


    <script th:src = "@{/static/bower/datatables/media/js/jquery.dataTables.min.js}"></script>

    <script th:src = "@{/static/js/foods.js}"></script>

    <!-- css add -->
    <link th:href="@{/static/css/foods.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->
</body>
</html>
