<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Search Patients
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Food</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-sm-2">
                            <a href="#insertModal" data-toggle="modal" data-target="#insertModal" class="btn btn-info">Create new food</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="dataContent" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Food name</th>
                                <th>Unit list</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <!--<tbody id="table-body"></tbody>-->
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Food name</th>
                                <th>Unit list</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- message modal-->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="messageLabel1">Message</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h4 class="modal-title" id="messageLabel">No available prescription for this patient</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- .message modal-->

        <!-- insert new modal -->
        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "createForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="insertModalLabel">Create new food</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Food name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="insertFoodName" class="form-control" id="insertFoodName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertFoodName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Default unit name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="insertUnitName" class="form-control" id="insertUnitName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertUnitName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Default Kcal Estimate/ 100g*: </label>

                                <div class="col-sm-3">
                                    <input type="number" style="text-align: right;" th:name="insertCaloriesEstimate" class="form-control" value="0" id="insertCaloriesEstimate"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertCaloriesEstimate">
                                </div>
                            </div>
                            <table id="evaluationIndex" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Evaluation Index</th>
                                    <th style="width: 100px;">Result</th>
                                    <th>Evaluation Index</th>
                                    <th style="width: 100px;">Result</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label">Starch* (g)</label>
                                    </td>
                                    <td class="form-group">
                                        <input id="starch" th:name="starch" type="number" value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Starch" data-rule-min="0" data-msg-min="Value must greater than or equal to 0"/>
                                        <div class="help-block with-errors" id="invalidstarch"></div>
                                    </td>

                                    <td><label class="control-label">Iron* /1000 Kcal (mg)</label></td>
                                    <td class="form-group">
                                        <input id="iron" th:name="iron" type="number" value="0.0"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               class="form-control hsts hsts-num"
                                               placeholder="Iron"/>
                                        <div class="help-block with-errors" id="invalidiron"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label">Protein* (g)</label>
                                    </td>
                                    <td class="form-group">
                                        <input id="protein" th:name="protein" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0" value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Protein" />
                                        <div class="help-block with-errors" id="invalidprotein"></div>
                                    </td>

                                    <td>
                                        <label class="control-label">Zinc* /1000 Kcal (mg)</label>
                                    </td>
                                    <td>
                                        <input id="zinc" th:name="zinc" type="number" value="0.0"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0" class="form-control hsts hsts-num"
                                               placeholder="Zinc"/>
                                        <div class="help-block with-errors" id="invalidzinc"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label">Fat* (g)</label>
                                    </td>
                                    <td>
                                        <input id="fat" th:name="fat" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Fat"/>
                                        <div class="help-block with-errors" id="invalidfat"></div>
                                    </td>

                                    <td>
                                        <label class="control-label">Vitamin B1*/1000 Kcal (mg)</label>
                                    </td>
                                    <td>
                                        <input id="vitaminB1" th:name="vitaminB1"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               type="number" value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Vitamin B1"/>
                                        <div class="help-block with-errors" id="invalidvitaminB1"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label">Animal Protein* (g)</label>
                                    </td>
                                    <td>
                                        <input id="animalProtein" th:name="animalProtein" type="number" value="0.0"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               class="form-control hsts hsts-num" placeholder="Animal Protein"/>
                                        <div class="help-block with-errors" id="invalidanimalProtein"></div>
                                    </td>

                                    <td>
                                        <label class="control-label">Vitamin C*/1000 Kcal (mg)</label>
                                    </td>
                                    <td>
                                        <input id="vitaminC" th:name="vitaminC" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Vitamin C"/>
                                        <div class="help-block with-errors" id="invalidvitaminC"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label">Animal Fat* (g)</label>
                                    </td>
                                    <td>
                                        <input id="animalFat" th:name="animalFat" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Animal Fat"/>
                                        <div class="help-block with-errors" id="invalidanimalFat"></div>
                                    </td>

                                    <td><label class="control-label">Vitamin B2*/1000 Kcal (mg)</label>
                                    </td>
                                    <td>
                                        <input id="vitaminB2" th:name="vitaminB2" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Vitamin B2"/>
                                        <div class="help-block with-errors" id="invalidvitaminB2"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Calcium* (mg)</label></td>
                                    <td>
                                        <input id="calcium" th:name="calcium" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Calcium"/>
                                        <div class="help-block with-errors" id="invalidcalcium"></div>
                                    </td>

                                    <td><label class="control-label">Vitamin PP*/1000 Kcal (mg)</label>
                                    </td>
                                    <td>
                                        <input id="vitaminPP" th:name="vitaminPP"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               type="number" value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Vitamin PP"/>
                                        <div class="help-block with-errors" id="invalidvitaminPP"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="control-label">Sodium* (mg)</label></td>
                                    <td>
                                        <input id="sodium" th:name="sodium" type="number"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"
                                               value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Sodium"/>
                                        <div class="help-block with-errors" id="invalidsodium"></div>
                                    </td>

                                    <td><label class="control-label">Fiber* (g)</label></td>
                                    <td>
                                        <input id="fiber" th:name="fiber" type="number" value="0.0" class="form-control hsts hsts-num"
                                               placeholder="Fiber"
                                               data-rule-min="0" data-msg-min="Value must greater than or equal to 0"/>
                                        <div class="help-block with-errors" id="invalidfiber"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- .insert new modal -->

        <div class="modal fade" id="updateDialog" tabindex="-1" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updateForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updateMedicine">Update</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Food name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="updateFoodName" class="form-control" id="updateFoodName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateFoodName">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update modal -->

        <!-- /.row -->
    </section>
    <!-- /.content -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>


    <script th:src = "@{/static/bower/datatables/media/js/jquery.dataTables.min.js}"></script>

    <script th:src = "@{/static/js/foods.js}"></script>

    <!-- css add -->
    <link th:href="@{/static/css/foods.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->
</body>
</html>
