<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo" style="background-color: #00a65a;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img th:src="@{/static/image/FPT_Logo.png}" style="width :47px;height: 47px;"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img th:src="@{/static/image/FPT_Logo.png}" style="height: 47px;"/></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" style="background-color: #00a65a;">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Logo -->
        <a href="home" style="font-size: 20px;line-height: 50px;text-align: center;color: white;">
            <!-- logo for regular state and mobile devices -->
            <span>Health Support Tracking System</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu" id="notifyBell">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="notifyNum"></span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu" id="notifyRow">

                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Account Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img th:src="@{/static/image/avatar.png}" class="user-image" alt="User Image"/>
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs" th:text="${session.USER.fullName}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img th:src="@{/static/image/avatar.png}" class="img-circle" alt="User Image"/>

                            <p th:text="${session.USER.fullName}"></p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>
</body>
</html>