<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" layout:fragment="body">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" style="text-align: center;">

            <!-- Your Page Content Here -->
            <a href="home"><h1><span class="fa fa-medkit"></span></h1></a>
            <h1 style="margin: auto;">Health Support Tracking System</h1>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Version 1.0.0.1
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Group 3</a>.</strong> All rights reserved.
    </footer>
</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="resources/static/bower/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="resources/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="resources/static/AdminLTE/js/app.min.js"></script>

</body>
</html>
