<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Multi select -->
    <link rel="stylesheet" th:href="@{/static/bower/bootstrap-multiselect/dist/css/bootstrap-multiselect.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/prettify.css}" type="text/css"/>
    <style type="text/css">
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
        /*STYLES FOR CSS POPUP*/
        #blanket {
            background-color: #111;
            opacity: 0.65;
            *background: none;
            position: absolute;
            z-index: 9001;
            top: 0px;
            left: 0px;
            width: 100%;
        }

        #Nutritional {
            position: absolute;
            width: 600px;
            height: 600px;
            z-index: 9002;
        }

        #praticeResult {
            position: absolute;
            width: 600px;
            height: 600px;
            z-index: 9002;
        }
        .bootstrap-tagsinput{
            width: 150px;
        }

    </style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Diagnostic
            <small th:text="${PATIENT.account.fullName}">Patient Name</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Diagnostic</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">

                    <div class="box-body">
                        <div class="box-header">
                            <h4 class="col-md-6" style="margin-top: 4px;"><i class="fa fa-th"></i> Prescriptions</h4>

                            <!-- input-group -->
                            <div class="input-group col-md-3 pull-right">
                                <div class="ui-widget">
                                    <select id="infordate" class="form-control">
                                        <option th:each="appointment : ${APPOINTMENTS}"
                                                th:value="@{/viewPrescription(appointmentId=${appointment.id})}"
                                                    th:text="${#dates.format(appointment.meetingDate, 'dd-MM-yyyy')}">meetingDate</option>
                                    </select>
                                </div>
                                <!--<div class="input-group-btn">-->
                                    <!--<button type="button" class="btn btn-default dropdown-toggle"-->
                                            <!--data-toggle="dropdown">-->
                                        <!--<span th:text="${#dates.format(APPOINTMENT.meetingDate, 'dd-MM-yyyy')}"></span>-->
                                        <!--<span class="fa fa-caret-down"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li th:each="appointment : ${APPOINTMENTS}"><a-->
                                                <!--th:href="@{/viewPrescription(appointmentId=${appointment.id})}"-->
                                                <!--class="btn btn-default"-->
                                                <!--th:text="${#dates.format(appointment.meetingDate, 'dd-MM-yyyy')}">meetingDate</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->
                            <h4 class="col-md-3 pull-right"> Information Date</h4>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="suggestTreatment" method="get">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Diagnostic</label>
                                    <input type="hidden" th:value="${APPOINTMENT.id}" name="appointmentId"/>
                                    <!--<input type="hidden" th:name="patientID" th:value="${APPOINTMENT.medicalRecord.patient.id}"/>-->
                                    <div class="col-sm-4 ui-widget">
                                        <input th:if="${TREATMENT != null}"
                                               th:value="${TREATMENT.appointment.medicalRecord.illness != null}? ${TREATMENT.appointment.medicalRecord.illness.name} : 'Unknown Disease'"
                                               readonly="readonly" class="form-control"/>
                                        <select id="select2Box" th:name="diagnostic" th:if="${TREATMENT == null}">
                                            <option th:if="${DIAGNOSTIC != null}" th:value = "${DIAGNOSTIC.id}" th:text="${DIAGNOSTIC.name}" selected="selected"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 pull-right" th:if="${TREATMENT == null}">
                                        <button type="submit" class="btn btn-primary">Suggest</button>
                                    </div>
                                </div>
                                <!-- ./form-group -->
                            </div>
                            <!-- ./box-body -->
                        </form>
                        <!-- ./form -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="prescription" method="get" th:object="${model}"
                              data-toggle="validator" onsubmit="return confirmBox(this);">
                            <input type="hidden" name="diagnostic" id="diagnostic" th:value="${DIAGNOSTIC != null}? ${DIAGNOSTIC.name}"/>
                            <div class="box-body">

                                <!-- Sidebar Menu -->
                                <!-- START CUSTOM TABS -->
                                <input type="hidden" th:value="${APPOINTMENT.id}" name="appointmentId"/>
                                <!-- Custom Tabs (Pulled to the left) -->
                                <div class="nav-tabs-custom" style="box-shadow: none;">

                                    <ul class="nav nav-tabs">
                                        <li class="active" th:if="${PHASE == null}">
                                            <a href="#tab_4-4" data-toggle="tab">Infomation checking</a>
                                        </li>
                                        <li th:if="${PHASE != null}">
                                            <a href="#tab_4-4" data-toggle="tab">Infomation checking</a>
                                        </li>
                                        <li class="active" th:if="${PHASE != null}">
                                            <a href="#tab_1-1" data-toggle="tab">Medicine</a>
                                        </li>
                                        <li th:if="${PHASE == null}">
                                            <a href="#tab_1-1" data-toggle="tab">Medicine</a>
                                        </li>
                                        <li><a href="#tab_2-2" data-toggle="tab">Foods</a></li>
                                        <li><a href="#tab_3-3" data-toggle="tab">Practices</a></li>
                                        <li><a href="#tab_5-5" data-toggle="tab">Appointment</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_4-4" th:if="${PHASE == null}">
                                            <!-- patient's Profile -->
                                            <div layout:replace="_informationChecking"></div>
                                            <!-- /.patient's Profile -->
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_1-1" onclick="changeTab('#tab_1-1')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <div class="tab-pane" id="tab_4-4" th:if="${PHASE != null}">
                                            <!-- patient's Profile -->
                                            <div layout:replace="_informationChecking"></div>
                                            <!-- /.patient's Profile -->
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_1-1" onclick="changeTab('#tab_1-1')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="tab_1-1"
                                             th:if="${PHASE == null and TREATMENT == null}">
                                            <!-- medicine tab -->
                                            <div layout:replace="_medicinePrecription"></div>
                                            <!-- /.medicine tab -->
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_4-4" onclick="changeTab('#tab_4-4')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_2-2" onclick="changeTab('#tab_2-2')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>

                                        <div class="tab-pane active" id="tab_1-1" th:if="${PHASE != null}">
                                            <!-- medicine Suggest -->
                                            <div layout:replace="_medicineSuggest"></div>
                                            <!-- /.medicine Suggest -->
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_4-4" onclick="changeTab('#tab_4-4')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_2-2" onclick="changeTab('#tab_2-2')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <div th:if="${TREATMENT != null}" class="tab-pane" id="tab_1-1">
                                            <!-- medicine History -->
                                            <div layout:replace="_medicineHistory"></div>
                                            <!-- /.medicine History -->
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_4-4" onclick="changeTab('#tab_4-4')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_2-2" onclick="changeTab('#tab_2-2')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="tab_2-2">
                                            <div th:if="${PHASE == null and TREATMENT == null}">
                                                <!-- food tab -->
                                                <div layout:replace="_foodPrescription"></div>
                                                <!-- /.food tab -->
                                            </div>

                                            <div th:if="${PHASE != null}">
                                                <!-- food Suggest -->
                                                <div layout:replace="_foodSuggest"></div>
                                                <!-- /.food Suggest -->
                                            </div>

                                            <div th:if="${TREATMENT != null}">
                                                <!-- food History -->
                                                <div layout:replace="_foodHistory"></div>
                                                <!-- /.food History -->
                                            </div>
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_1-1" onclick="changeTab('#tab_1-1')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_3-3" onclick="changeTab('#tab_3-3')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="tab_3-3">
                                            <div th:if="${PHASE == null and TREATMENT == null}">
                                                <!-- practice tab -->
                                                <div layout:replace="_practicePrescription"></div>
                                                <!-- /.practice tab -->
                                            </div>

                                            <div th:if="${PHASE != null}">
                                                <!-- practice Suggest -->
                                                <div layout:replace="_practiceSuggest"></div>
                                                <!-- /.practice Suggest -->
                                            </div>

                                            <div th:if="${TREATMENT != null}">
                                                <!-- practice History -->
                                                <div layout:replace="_practiceHistory"></div>
                                                <!-- /.practice History -->
                                            </div>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_2-2" onclick="changeTab('#tab_2-2')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_5-5" onclick="changeTab('#tab_5-5')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- /.tab-pane -->
                                        <!-- tab-pane -->
                                        <div class="tab-pane" id="tab_5-5">

                                            <h4>Appointment</h4>

                                            <div class="form-group box-body">
                                                <label for="Appointment" class="col-sm-3 control-label">Appointment
                                                    Date</label>

                                                <div class="col-sm-4">
                                                    <div th:if="${TREATMENT == null}" class="input-group">
                                                        <input class="form-control" type="text" name="appointmentDate"
                                                               id="Appointment" data-provide="Appointment"/>

                                                        <div class="input-group-btn">

                                                        </div>
                                                        <!-- /btn-group -->
                                                    </div>

                                                    <div th:if="${TREATMENT != null}"
                                                         th:with="appointment=${TREATMENT.appointment}">
                                                        <input th:if="${appointment.nextAppointment == null}"
                                                               class="form-control"
                                                               readonly="readonly" value=""/>
                                                        <input th:if="${appointment.nextAppointment != null}"
                                                               class="form-control" style="text-align: right;"
                                                               readonly="readonly"
                                                               th:value="${#dates.format(appointment.nextAppointment.meetingDate, 'dd-MM-yyyy')}"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_3-3" onclick="changeTab('#tab_3-3')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <button th:if="${TREATMENT == null}" type="submit"
                                                        class="btn btn-primary pull-right">Done
                                                </button>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                                <!-- END CUSTOM TABS -->
                            </div>
                            <!-- /.box-body -->

                        </form>
                        <!-- /.form -->
                    </div>
                    <!-- /.col -->


                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <!--POPUP-->
    <div id="blanket" style="display:none;"></div>
    <div th:if="${FOODINGREDIENT != null}">
        <div layout:replace="_popupNutritional"></div>
    </div>
    <div th:if="${DATAPRACS != null}">
        <div layout:replace="_practiceData"></div>
    </div>
    <!-- / POPUP-->

    <input th:value="*{PHASE != null}? 'check' : ''" id="phase" type="hidden"/>
    <input th:value="${MEDICS}" id="medics" type="hidden"/>
    <input th:value="${FOS}" id="fos" type="hidden"/>
    <input th:value="${PRACS}" id="pracs" type="hidden"/>
    <input th:value="${NEXTAPPOINTMENTDATE}" id="nextApDate" type="hidden"/>
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <script th:src="@{/static/bower/admin-lte/plugins/jQuery/jQuery-2.1.4.min.js}"></script>
    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery-ui/jquery-ui.js}"></script>
    <!-- bootstrap-datepicker-->
    <link th:href="@{/static/bower/admin-lte/plugins/datepicker/datepicker3.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/admin-lte/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <!-- Bootstrap multiple tags -->
    <link th:href="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"/>
    <!-- Bootstrap validator-->
    <script th:src="@{/static/bower/bootstrap-validator/dist/validator.min.js}"/>
    <!-- ChartJS 1.0.1 -->
    <script th:src="@{/static/bower/admin-lte/plugins/chartjs/Chart.min.js}"></script>
    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>
    <!-- makePrescription -->
    <script th:src="@{/static/js/makePrescription.js}"></script>

    <script th:src="@{/static/js/bootstrap-validator-ext.js}"></script>



    <script type="text/javascript">
        var countMedicine = $('#medics').val();
        var countM = countMedicine;
        function addRowMedicine(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = ++countM;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("style", "min-width: 155px;");
            newCell.innerHTML = '<select class="form-control" name="mPresModels[' + countMedicine + '].m" id="mPresModels' + countMedicine + '.m">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="medicine : ${MEDICINES}" th:value="${medicine.id}" th:text="${medicine.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("style", "min-width: 75px;");
            newCell.innerHTML = '<select class="form-control" name="mPresModels[' + countMedicine + '].mTime" id="mPresModels' + countMedicine + '.mTime">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="time : ${TIMES}" th:value="${time}" th:text="${time}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("class", "form-group");
            newCell.setAttribute("style", "width: 120px;");
            newCell.innerHTML =
                    '<input type="text" value="1" class="form-control" style="text-align: right;" name="mPresModels[' + countMedicine + '].mQuantity" id="mPresModels' + countMedicine + '.mQuantity" placeholder="Quantity" data-remote="/validateData" required="required"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("class", "form-group");
            newCell.setAttribute("style", "width: 120px;");
            newCell.innerHTML = '<input type="text" class="form-control" data-remote="/validateStr" name="mPresModels[' + countMedicine + '].mUnit" id="mPresModels' + countMedicine + '.mUnit" placeholder="Unit" required="required"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" placeholder="Advice" id="mPresModels' + countMedicine + '.mNote" name="mPresModels[' + countMedicine + '].mNote"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<a class="btn btn-danger fa fa-remove" onclick="deleteRowMedicine(this)"></a>';
            countMedicine++;
            return newRow;
        }
        ;

        var countFoods = $('#fos').val();
        var countF = countFoods;
        function addRowFoods(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = ++countF;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<select class="form-control" name="fPresModels[' + countFoods + '].f" id="fPresModels' + countFoods + '.f">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="food : ${FOODS}" th:value="${food.id}" th:text="${food.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<select class="form-control" name="fPresModels[' + countFoods + '].fTime" id="fPresModels' + countFoods + '.fTime">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="time : ${TIMES}" th:value="${time}" th:text="${time}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("class", "form-group");
            newCell.innerHTML = '<input type="text" class="form-control" data-remote="/validateStr" name="fPresModels[' + countFoods + '].fQuantity" id="fPresModels' + countFoods + '.fQuantity" placeholder="Quantity" required="required"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<input type="text" class="form-control" name="fPresModels[' + countFoods + '].fNote" id="fPresModels' + countFoods + '.fNote" placeholder="Advice" required="required"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<a class="btn btn-danger fa fa-remove" onclick="deleteRowFood(this)"></a>'

            countFoods++;
            return newRow;
        }
        ;
        var countPractice = $('#pracs').val();
        var countP = countPractice;
        function addRowPractice(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = ++countP;
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<select class="form-control" name="pPresModels[' + countPractice + '].p" id="pPresModels' + countPractice + '.p">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="practice : ${PRACTICES}" th:value="${practice.id}" th:text="${practice.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<select class="form-control" name="pPresModels[' + countPractice + '].pTime" id="pPresModels' + countPractice + '.pTime">'
                    + '<option value="0">Select</option>'
                    + '<option th:each="time : ${TIMES}" th:value="${time}" th:text="${time}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.setAttribute("class", "form-group");
            newCell.innerHTML =
                    '<input type="text" class="form-control" required="required"  data-remote="/validateStr" placeholder="Quantity" name="pPresModels[' + countPractice + '].pIntensity" id="pPresModels' + countPractice + '.pIntensity"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" name="pPresModels[' + countPractice + '].pNote" id="pPresModels' + countPractice + '.pNote" placeholder="Advice"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<a class="btn btn-danger fa fa-remove" onclick="deleteRowPractice(this)"></a>';

            countPractice++;
            return newRow;
        }
        ;
    </script>
</div>
<!-- /.content-wrapper -->

</body>
</html>