<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Multi select -->
    <link rel="stylesheet" th:href="@{/static/bower/bootstrap-multiselect/dist/css/bootstrap-multiselect.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/prettify.css}" type="text/css"/>
    <style type="text/css">
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }

        /*STYLES FOR CSS POPUP*/
        #blanket {
            background-color: #111;
            opacity: 0.65;
            *background: none;
            position: absolute;
            z-index: 9001;
            top: 0px;
            left: 0px;
            width: 100%;
        }

        #popUpAppointment {
            position: absolute;
            width: 400px;
            height: 300px;
            z-index: 9002;
        }

        #popupConfirm {
            position: absolute;
            width: 400px;
            height: 300px;
            z-index: 9002;
        }

    </style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Diagnostic
            <small th:text="${APPOINTMENT.medicalRecord.patient.account.fullname}">Patient Name</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Diagnostic</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-default">

                    <div class="row">
                        <div class="box-body with-border">
                            <h4 class="col-md-3"> Information Date</h4>

                            <div class="input-group col-md-3">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span th:text="${#dates.format(APPOINTMENT.meetingDate, 'dd-MM-yyyy')}"></span>
                                        <span class="fa fa-caret-down"></span>
                                    </button>
                                    <ul class="dropdown-menu"
                                        th:each="appointment : ${APPOINTMENT.medicalRecord.appointmentList}">
                                        <li><a href="#" class="btn btn-default"
                                               th:text="${#dates.format(appointment.meetingDate, 'dd-MM-yyyy')}">meetingDate</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.box-header -->
                        <div class="col-md-6">
                            <form class="form-horizontal">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Patient's Profile</h3>
                                </div>
                                <!-- /.box-header -->

                                <div class="box-body" th:with="ACC=${APPOINTMENT.medicalRecord.patient.account}">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>

                                        <div class="col-sm-6">
                                            <input type="text" readonly="readonly" class="form-control"
                                                   th:value="${ACC.fullname}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">BirthDay</label>

                                        <div class="col-sm-3">
                                            <input type="text" readonly="readonly"
                                                   class="form-control"
                                                   th:value="${#dates.format(ACC.dateOfBirth, 'dd-MM-yyyy')}"/>
                                        </div>

                                        <label class="col-sm-2 control-label">Gender</label>

                                        <div class="col-sm-3">
                                            <input type="text" readonly="readonly" th:if="${ACC.gender == 1}"
                                                   class="form-control" value="Male"/>
                                            <input type="text" readonly="readonly" th:if="${ACC.gender == 2}"
                                                   class="form-control" value="Female"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Date</label>

                                        <div class="col-sm-4">
                                            <input type="text" readonly="readonly" class="form-control"
                                                   th:value="${#dates.format(APPOINTMENT.meetingDate, 'dd-MM-yyyy')}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Weight</label>

                                        <div class="col-sm-3">
                                            <input type="text" readonly="readonly" class="form-control"
                                                   th:value="${APPOINTMENT.weight}"/>
                                        </div>
                                        <label class="col-sm-1 control-label">Kg</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Height</label>

                                        <div class="col-sm-3">
                                            <input type="text" readonly="readonly" class="form-control"
                                                   th:value="${APPOINTMENT.height}"/>
                                        </div>
                                        <label class="col-sm-1 control-label">cm</label>
                                    </div>

                                    <div class="form-group">
                                        <label for="Medicalhistory" class="col-sm-3 control-label">Medical
                                            history</label>

                                        <div class="col-sm-8">
                                            <table class="table table-striped" id="Medicalhistory">
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Medical history</th>
                                                </tr>
                                                <tr>
                                                    <td>1/</td>
                                                    <td><input type="text" class="form-control" readonly="readonly"
                                                               th:value="${APPOINTMENT.medicalRecord.medicalHistory}"/>
                                                    </td>
                                                </tr>

                                            </table>
                                            <!-- /.table Medical history -->

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="clinicalSymptoms" class="col-sm-3 control-label">Symptoms</label>

                                        <div class="col-sm-8">
                                            <table class="table table-striped" id="clinicalSymptoms">
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Clinical Symptoms</th>
                                                </tr>
                                                <tr>
                                                    <td>1/</td>
                                                    <td><input type="text" class="form-control" readonly="readonly"
                                                               th:value="${APPOINTMENT.medicalRecord.symptoms}"/></td>
                                                </tr>

                                            </table>
                                            <!-- /.table clinical Symptoms -->

                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </form>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-6">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-th"></i> Prescriptions</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form th:action="suggestTreatment" method="get">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Diagnostic</label>

                                        <div class="col-sm-4 ui-widget">
                                            <select id="combobox" th:name="diagnostic" class="form-control">
                                                <option value="0">Select one...</option>
                                                <option th:each="doctor : ${DOCTORS}" th:value="${doctor.id}"
                                                        th:text="${doctor.account.username}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 pull-right">
                                            <button type="submit" class="btn btn-primary">Suggest</button>
                                        </div>
                                    </div>
                                    <!-- ./form-group -->
                                </div>
                                <!-- ./box-body -->
                            </form>
                            <!-- ./form -->
                            <!-- form start -->
                            <form class="form-horizontal" th:action="prescription" method="get" th:object="${model}">
                                <input type="hidden" th:field="*{diagnostic}" th:value="${combobox}"/>

                                <div class="box-body">

                                    <!-- Sidebar Menu -->
                                    <!-- START CUSTOM TABS -->
                                    <input type="hidden" th:value="${APPOINTMENT.id}" name="appointmentID"/>
                                    <!-- Custom Tabs (Pulled to the left) -->
                                    <div class="nav-tabs-custom" style="box-shadow: none;">

                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1-1" data-toggle="tab">Medicine</a></li>
                                            <li><a href="#tab_2-2" data-toggle="tab">Foods</a></li>
                                            <li><a href="#tab_3-3" data-toggle="tab">Practices</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1-1">
                                                <h3>Medicine</h3>
                                                <!-- table medicine -->
                                                <table class="table table-striped" id="medicine">
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Medicine</th>
                                                        <th>Times</th>
                                                        <th>Quanlity</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1/</td>
                                                        <td>
                                                            <select class="form-control" th:field="*{medical}">
                                                                <option value="Thuoc 1">Thuoc 1</option>
                                                                <option value="Thuoc 2">Thuoc 2</option>
                                                                <option value="Thuoc 2">Thuoc 3</option>
                                                                <option value="Thuoc 2">Thuoc 4</option>
                                                            </select>
                                                        </td>
                                                        <td><select class="form-control" multiple="multiple"
                                                                    id="multiselect_medical" th:field="*{medicalTime}">
                                                            <option th:each="time : ${TIMES}" th:value="${time}"
                                                                    th:selected="${medicalTime == time}? 'selected'"
                                                                    th:text="${time}"></option>
                                                        </select>
                                                        </td>
                                                        <td><input type="text" class="form-control"
                                                                   th:field="*{medicalQuantity}"
                                                                   style="width: 100px;"
                                                                   placeholder="Quality"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <input type="text" class="form-control"
                                                                   th:field="*{medicalNote}" placeholder="Advice"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- /.table medicine -->
                                                <a style="width: 50px;color: white;" class="btn btn-primary"
                                                   onclick="addRowMedicine('medicine')">Add</a>

                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_2-2">
                                                <h3>Foods</h3>
                                                <table class="table table-striped" id="Foods">
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Name</th>
                                                        <th>Times</th>
                                                        <th>Quantitative</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1/</td>
                                                        <td>
                                                            <select class="form-control" th:field="*{food}">
                                                                <option value="Rau">Rau</option>
                                                                <option value="Cơm">Cơm</option>
                                                                <option value="Trái cây">Trái cây</option>
                                                                <option value="Bia Rượu">Bia Rượu</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" multiple="multiple"
                                                                    id="multiselect_food" th:field="*{foodTime}">
                                                                <option th:each="time : ${TIMES}" th:value="${time}"
                                                                        th:text="${time}"></option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" class="form-control"
                                                                   th:field="*{foodQuantity}"
                                                                   style="width: 100px;" placeholder="Quantity"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <input type="text" class="form-control"
                                                                   th:field="*{foodNote}" placeholder="Advice"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <a style="width: 50px;color: white;" class="btn btn-primary"
                                                   onclick="addRowFoods('Foods')">Add</a>

                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_3-3">
                                                <h3>Practices</h3>
                                                <table class="table table-striped" id="Practice">
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Name</th>
                                                        <th>Times</th>
                                                        <th>Quantitative</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1/</td>
                                                        <td>
                                                            <select class="form-control" th:field="*{practice}">
                                                                <option value="Chạy bộ">Chạy bộ</option>
                                                                <option value="Đi bộ">Đi bộ</option>
                                                                <option value="Chơi bóng bàn">Chơi bóng bàn</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" multiple="multiple"
                                                                    id="multiselect_practice"
                                                                    th:field="*{practiceTime}">
                                                                <option th:each="time : ${TIMES}" th:value="${time}"
                                                                        th:text="${time}"></option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" class="form-control"
                                                                   th:field="*{practiceIntensity}"
                                                                   style="width: 100px;" placeholder="Quantuty"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <input type="text" class="form-control"
                                                                   th:field="*{practiceNote}" placeholder="Advice"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <a style="width: 50px;color: white;" class="btn btn-primary"
                                                   onclick="addRowPractice('Practice')">Add</a>

                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- nav-tabs-custom -->
                                    <!-- END CUSTOM TABS -->
                                </div>
                                <!-- /.box-body -->
                                <!-- footer -->
                                <div class="box-footer">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <!-- /.footer -->
                            </form>
                            <!-- /.form -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    <!--POPUP-->
    <div id="blanket" style="display:none;"></div>
    <div id="popUpAppointment" style="display:none;">
        <!-- box -->
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Appointment Date</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" onclick="popup('popUpAppointment')">
                        <i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group" style="margin-top: 15px;">
                    <h3>Do you want to make appointment?</h3>
                    <label for="Appointment" class="col-sm-5 control-label">Appointment Date</label>

                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="30/09/2015"
                               id="Appointment" data-provide="Appointment"/>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default">No</a>
                <a class="btn btn-primary pull-right">Yes</a>

            </div>
            <!-- /.footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.popUpAppointment -->
    <div id="popupConfirm" style="display:none;">
        <!-- box -->
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Confirm</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" onclick="popup('popupConfirm')">
                        <i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group" style="margin-top: 15px;">
                    <h3>Do you want to make prescription?</h3>

                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a type="reset" class="btn btn-default">No</a>
                <a onclick="popup('popupConfirm'); popup('popUpAppointment')" class="btn btn-primary pull-right">Yes</a>

            </div>
            <!-- /.footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.popupConfirm -->
    <!-- / POPUP-->

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/bower/jquery-ui/jquery-ui.js}"></script>
    <!-- Multi select -->
    <script th:src="@{/static/bower/bootstrap-multiselect/dist/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/static/js/prettify.js}"></script>
    <!-- registerPatient -->
    <script th:src="@{/static/js/registerPatient.js}"></script>
    <!-- makePrescription -->
    <script th:src="@{/static/js/makePrescription.js}"></script>
    <script type="text/javascript">
        /* For multiselect_medical.*/
        $('#multiselect_medical').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Times',
            nSelectedText: 'Select',
            selectAllText: 'Select All',
            numberDisplayed: 0,
            buttonWidth: '140px'
        });

        /* For multiselect_food.*/
        $('#multiselect_food').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Times',
            nSelectedText: 'Select',
            selectAllText: 'Select All',
            numberDisplayed: 0,
            buttonWidth: '140px'
        });

        /* For multiselect_practice.*/
        $('#multiselect_practice').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Times',
            nSelectedText: 'Select',
            selectAllText: 'Select All',
            numberDisplayed: 0,
            buttonWidth: '140px'
        });
        $("#combobox").combobox();
        $('#Appointment').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            defaultDate: "+1w",
            changeYear: true,
        });

        function toggle(div_id) {
            var el = document.getElementById(div_id);
            if (el.style.display == 'none') {
                el.style.display = 'block';
            }
            else {
                el.style.display = 'none';
            }
        }
        ;
        function blanket_size(popUpDivVar) {
            if (typeof window.innerWidth != 'undefined') {
                viewportheight = window.innerHeight;
            } else {
                viewportheight = document.documentElement.clientHeight;
            }
            if (viewportheight > document.body.parentNode.scrollHeight) {
                if (viewportheight > document.body.parentNode.clientHeight) {
                    blanket_height = viewportheight;
                } else {
                    if (document.body.parentNode.clientHeight > document.body.parentNode.scrollHeight) {
                        blanket_height = document.body.parentNode.clientHeight;
                    } else {
                        blanket_height = document.body.parentNode.scrollHeight;
                    }
                }
            } else {
                if (document.body.parentNode.clientHeight > document.body.parentNode.scrollHeight) {
                    blanket_height = document.body.parentNode.clientHeight;
                } else {
                    blanket_height = document.body.parentNode.scrollHeight;
                }
            }
            var blanket = document.getElementById('blanket');
            blanket.style.height = blanket_height + 'px';
            var popUpDiv = document.getElementById(popUpDivVar);
            popUpDiv_height = blanket_height / 2 - 150;//150 is half popup's height
            popUpDiv.style.top = popUpDiv_height + 'px';
        }
        ;
        function window_pos(popUpDivVar) {
            if (typeof window.innerWidth != 'undefined') {
                viewportwidth = window.innerHeight;
            } else {
                viewportwidth = document.documentElement.clientHeight;
            }
            if (viewportwidth > document.body.parentNode.scrollWidth) {
                if (viewportwidth > document.body.parentNode.clientWidth) {
                    window_width = viewportwidth;
                } else {
                    if (document.body.parentNode.clientWidth > document.body.parentNode.scrollWidth) {
                        window_width = document.body.parentNode.clientWidth;
                    } else {
                        window_width = document.body.parentNode.scrollWidth;
                    }
                }
            } else {
                if (document.body.parentNode.clientWidth > document.body.parentNode.scrollWidth) {
                    window_width = document.body.parentNode.clientWidth;
                } else {
                    window_width = document.body.parentNode.scrollWidth;
                }
            }
            var popUpDiv = document.getElementById(popUpDivVar);
            window_width = window_width / 2 - 200;//200 is half popup's width
            popUpDiv.style.left = window_width + 'px';
        }
        ;
        function popup(windowname) {
            blanket_size(windowname);
            window_pos(windowname);
            toggle('blanket');
            toggle(windowname);
        }
        ;
    </script>
</div>
<!-- /.content-wrapper -->

</body>
</html>
