<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Search Patients
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Food</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-sm-2">
                            <a href="#insertModal" data-toggle="modal" data-target="#insertModal" class="btn btn-info">Create new medicine</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="dataContent" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Medicine name</th>
                                <th>Unit</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <!--<tbody id="table-body"></tbody>-->
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Medicine name</th>
                                <th>Unit</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- message modal-->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="messageLabel1">Message</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h4 class="modal-title" id="messageLabel">No available prescription for this patient</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- .message modal-->

        <!-- insert new modal -->
        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "createForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="insertModalLabel">Create new food</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Food name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="insertMedicineName" class="form-control" id="insertMedicineName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertMedicineName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Unit name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="insertUnitName" class="form-control" id="insertUnitName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidInsertUnitName">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- .insert new modal -->

        <!-- update modal-->
        <div class="modal fade" id="updateDialog" tabindex="-1" role="dialog" aria-labelledby="updateMedicine" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog" role="document">
                <form id = "updateForm" class="form-horizontal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="updateMedicine">Update</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Medicine name*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="updateMedicineName" class="form-control" id="updateMedicineName"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateMedicineName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Medicine unit*: </label>

                                <div class="col-sm-4">
                                    <input type="text" th:name="updateMedicineUnit" class="form-control" id="updateMedicineUnit"/>
                                </div>
                                <div class="col-sm-3 help-block with-errors" id = "invalidUpdateMedicineUnit">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- .update modal -->

        <!-- /.row -->
    </section>
    <!-- /.content -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>


    <script th:src = "@{/static/bower/datatables/media/js/jquery.dataTables.min.js}"></script>

    <script th:src = "@{/static/js/medicines.js}"></script>

    <!-- css add -->
    <link th:href="@{/static/css/medicines.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->
</body>
</html>
