<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<body>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/static/image/avatar.png}" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p th:text="${session.USER.fullname}"></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i>
                    <i th:text=" ${session.USER.role.name}" style="font-size: 13px;color: #ff0000;"></i></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-user-md"></i> <span>Nurse</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="registerPatient"><i class="fa fa-circle-o"></i> Register Patient</a></li>
                    <li><a href="updatePatient"><i class="fa fa-circle-o"></i> Update Patient</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-stethoscope"></i>
                    <span>Doctor</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="doctorPatients"><i class="fa fa-circle-o"></i> Patients</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa  fa-user-plus"></i>
                    <span>Admin</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Staffs</a></li>
                </ul>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>