<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Medical Record Detail</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- New design -->
                <div class="col-md-12">

                    <div class="box box-info">
                        <div class="box-body">

                            <div class="form-group row">
                                <input type="hidden" name="medicalRecordId" th:value="${MR}" id = "medicalRecordId"/>
                                <label class="col-sm-3 control-label">Select appointment: </label>

                                <div class="col-sm-5">
                                    <select id="appointmentSelect" name="appSelect">
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-group" id="accordion">

                                    <div class="panel panel-default" id="medicinePanel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseMedicine">
                                                    Medicine Prescription
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseMedicine" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <!-- table medicines -->
                                                <table class="table table-striped" id="resultMedicine">
                                                </table>
                                                <!-- /.table medicines -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" id="foodPanel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFood">
                                                    Foods Prescription
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFood" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <!-- table medicines -->
                                                <table class="table table-striped" id="resultFoods">
                                                </table>
                                                <!-- /.table medicines -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" id="practicePanel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePractice">
                                                    Practices Prescription
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsePractice" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <!-- table medicines -->
                                                <table class="table table-striped" id="resultPractice">
                                                </table>
                                                <!-- /.table medicines -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default" id="dataPanel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseData">
                                                    Practice Data
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseData" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <!-- table medicines -->
                                                <table class="table table-striped" id="resultData">
                                                </table>
                                                <!-- /.table medicines -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- End new design -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->

    <!-- jQuery -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/static/bower/icheck/icheck.min.js}"/>
    <link th:href="@{/static/bower/icheck/skins/all.css}" rel="stylesheet"/>

    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet" />
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>



    <!-- external script -->
    <script th:src="@{/static/js/mrDetail.js}"/>

    <!-- external css -->
    <link th:href="@{/static/css/mrDetail.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->

</body>
</html>
