<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Search Patients
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Search Patients</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!--
                    <div class="box-header" style="padding: 0px;">
                        <div class="form-group">
                            <h3 class="col-sm-1 control-label">Name</h3>

                            <div class="col-sm-4">
                                <form th:action="nSearchPatients" method="get" class="sidebar-form">
                                    <div class="input-group">
                                        <input type="text" th:name="q" class="form-control" placeholder="Search..."/>
                          <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i></button>
                          </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>-->
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="dataContent" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>Gender</th>
                                <th style="width: 40px;">#</th>
                            </tr>
                            </thead>
                            <!--<tbody id="table-body"></tbody>-->
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>Gender</th>
                                <th style="width: 40px;">#</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>
    <script th:src = "@{/static/bower/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
//            $.ajax({
//                method: "GET",
//                url: "/patientList",
//                data: {}
//            })
//            .done(function(data) {
//                console.log(data);
//                $("#table-body").html("");
//                var bodyContent = "";
//                if(data.dataList != null) {
//
//                    $.each( data.dataList , function( key, element ) {
//                        bodyContent += "<tr><td>" + (key + 1) + "</td>" +
//                                "<td>" + element.account.fullName + "</td>" +
//                                "<td>" + element.account.birthday + "</td>" +
//                                "<td>" + element.account.gender + "</td>" +
//                                "<td></td></tr>";
//
//                    });
//                }
//                $("#table-body").html(bodyContent);
//            });

            var table = $('#dataContent').dataTable( {
                "processing": true,
                "pagingType": "full",
                "paging": true,
                "ajax": {
                    "url": "/patientList",
                    "dataSrc": "dataList",
                    "page": "pageNumber",
                    "pages": "pageSize",
                    "recordsTotal": "totalElements",
                    "recordsFiltered": "numberOfElements",
                    "type": "GET"
                },

                "columns": [
                    { "data": "account.fullName" },
                    { "data": "account.birthday" },
                    { "data": "account.gender",
                        "render": function (data, type, full, meta) {
                            var className = "btn btn-success";
                            if(data == "FEMALE") {
                                className = "btn btn-danger";
                            }
                            return '<input type ="text" disabled = "true" class="'+ className +'" value="' + data + '"/>';
                        }
                    },
                    {
                        "data": "id",
                        "render": function ( data, type, full, meta ) {
                            return '<a href="/patient?patientID='+ data + '" class="btn btn-primary">Update</a>';
                        }
                    }

                ]
            } );

            var info = table.page.info();
            console.log(info.pages);
        });



//        setInterval(function() {
//            // Code
//        }, 500)
    </script>
</div>
<!-- /.content-wrapper -->
</body>
</html>
