<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update Patient
            <small th:text="${PATIENT.account.fullName}"></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient's Profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- New design -->
                <div class="col-md-12">

                    <div class="box box-info">
                        <!-- form start -->
                        <form class="form-horizontal" method="POST" th:action="updatePatient" data-toggle="validator">
                            <input type="hidden" th:name="patientId" class="form-control"
                                   th:value="${PATIENT.id}"/>
                            <!-- New design-->

                            <div class="box-body">
                                <div class="nav-tabs-custom" style="box-shadow: none;">
                                    <!-- Tab header -->
                                    <ul class="nav nav-tabs">
                                        <li >
                                            <a href="#tab_1" data-toggle="tab">Patient's Profile</a>
                                        </li>
                                        <li class="active">
                                            <a href="#tab_2" data-toggle="tab">Medical Checking</a>
                                        </li>
                                        <li>
                                            <a href="#tab_3" data-toggle="tab">Medical registration</a>
                                        </li>
                                    </ul>
                                    <!-- End tab header -->

                                    <!-- Tab content -->
                                    <div class="tab-content">
                                        <!-- Tab 1: Personal information-->
                                        <div class="tab-pane" id="tab_1">
                                            <div class="form-group">
                                                <label for="Name" class="col-sm-3 control-label">Name*</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="patientName" class="form-control"
                                                           th:value="${PATIENT.account.fullName}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Birthday" class="col-sm-3 control-label">Birthday*</label>

                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" readonly="readonly"
                                                           th:value="${#dates.format(PATIENT.account.dateOfBirth, 'dd-MM-yyyy')}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Email" class="col-sm-3 control-label">Email*</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="email" class="form-control"
                                                           th:value="${PATIENT.account.email}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Gender*</label>

                                                <!--<div class="radio col-sm-2">-->
                                                <!--<input type="text" readonly="readonly" class="form-control"-->
                                                <!--th:value="${PATIENT.account.gender == 1}? 'Male' : 'Female'"/>-->
                                                <!--</div>-->

                                                <div class="btn-group col-sm-2" data-toggle="buttons">
                                                    <label th:class="(${PATIENT.account.gender == 1})?'btn btn-success active':'btn btn-danger active'">
                                                        <input type="radio" th:text="${PATIENT.account.gender == 1}? 'Male' : 'Femail'"/>
                                                    </label>
                                                </div>
                                            </div>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_2" onclick="changeTab('#tab_2')" data-toggle="tab" class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 1 -->

                                        <!-- Tab 2: Basic patient data -->
                                        <div class="tab-pane active" id="tab_2">
                                            <table class="table table-bordered table-striped" id="tableMedicalCheck">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px; text-align: center">Measurement index</th>
                                                    <th style="width: 125px; text-align: center">Value</th>
                                                    <th style="width: 200px; text-align: center">Measurement index</th>
                                                    <th style="width: 125px; text-align: center" >Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <label for="Weight" class="control-label">Weight*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="weight" class="form-control" id="Weight"
                                                               placeholder="Kg" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.weight != null})?*{PC.weight}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="visceralFat" class="control-label">Visceral Fat*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="visceralFat" class="form-control"
                                                               id="visceralFat"
                                                               placeholder="level" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.visceralFat != null})?*{PC.visceralFat}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="Height" class="control-label">Height*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="height" class="form-control" id="Height"
                                                               placeholder="cm" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC} != null and *{PC.height != null})?*{PC.height}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="muscleMass" class="control-label">Muscle Mass*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="muscleMass" class="form-control"
                                                               id="muscleMass"
                                                               placeholder="%" data-remote="/validateData"
                                                               required="required" th:value="(*{PC}!= null and *{PC.muscleMass != null})?*{PC.muscleMass}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="heartBeat" class="control-label">Heart Beat*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="heartBeat" class="form-control"
                                                               id="heartBeat"
                                                               placeholder="times/minute" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.appointment} != null and *{PC.appointment.heartBeat != null})?*{PC.appointment.heartBeat}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="bodyWater" class="control-label">Body Water*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyWater" class="form-control"
                                                               id="bodyWater"
                                                               placeholder="%" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.bodyWater != null})?*{PC.bodyWater}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="bloodPressure" class="control-label">Blood Pressure*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bloodPressure" class="form-control"
                                                               id="bloodPressure"
                                                               placeholder="mmHg" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.appointment} != null and *{PC.appointment.bloodPressure != null})?*{PC.appointment.bloodPressure}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="phaseAngle" class="control-label">Phase Angle*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="phaseAngle" class="form-control"
                                                               id="phaseAngle"
                                                               placeholder="o" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.phaseAngle != null})?*{PC.phaseAngle}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="waists" class="control-label">Waists*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="waists" class="form-control" id="waists"
                                                               placeholder="cm" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.appointment} != null and *{PC.appointment.waists != null})?*{PC.appointment.waists}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="impedance" class="control-label">Impedance*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="impedance" class="form-control"
                                                               id="impedance"
                                                               placeholder="Ohm" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.impedance != null})?*{PC.impedance}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="bodyFat" class="control-label">Body Fat*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyFat" class="form-control"
                                                               id="bodyFat"
                                                               placeholder="%" data-remote="/validateData"
                                                               required="required" data-error="Wrong input" th:value="(*{PC}!= null and *{PC.bodyFat != null})?*{PC.bodyFat}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                    <td>
                                                        <label for="basalMetabolicRate" class="control-label">Basal
                                                            Metabolic Rate*</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" th:name="basalMetabolicRate" class="form-control"
                                                               id="basalMetabolicRate"
                                                               placeholder="Kcal"
                                                               data-remote="/validateData" required="required"
                                                               data-error="Wrong input" th:value="(*{PC}!= null and *{PC.basalMetabolicRate != null})?*{PC.basalMetabolicRate}:0"/>

                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div style="margin: 15px;">
                                                <a href="#tab_1" onclick="changeTab('#tab_1')" data-toggle="tab"
                                                   class="btn btn-default">Previous</a>
                                                <a href="#tab_3" onclick="changeTab('#tab_3')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                        </div>
                                        <!-- End tab 2 -->


                                        <!-- Tab 3: Medical registration -->
                                        <div class="tab-pane" id="tab_3">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Doctor*</label>

                                                <div class="col-sm-5">
                                                    <select id="doctorSelect" th:name="doctorId">
                                                        <!--<option value = "" th:disabled="disable">Select one...</option>-->
                                                        <!--<option th:each="doctor : ${session.DOCTORS}" th:value="${doctor.id}" th:text="${doctor.account.fullName}"></option>-->
                                                    </select>
                                                </div>

                                                <label for="newRecord" class="col-sm-3 control-label">
                                                    <input style="width: 15px;height: 15px;" type="checkbox" th:name="isNewMedicalRecord"/>New Medical Record</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="Medicalhistory" class="col-sm-3 control-label">Medical history</label>

                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Medical history" name="medicalHistory" rows="3" data-role="tagsinput"></input>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="clinicalSymptoms" class="col-sm-3 control-label">Clinical symptoms</label>

                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Clinical symptoms" name="symptoms" rows="3" data-role="tagsinput"></input>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="medicineHistory" class="col-sm-3 control-label">Medcine history</label>
                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Medicine history" name="medicineHistory" rows="3" data-role="tagsinput" id="medicineHistory" th:value="*{OLDMEDICINE}"></input>
                                                </div>
                                            </div>
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_2" onclick="changeTab('#tab_2')" data-toggle="tab" class="btn btn-default">Previous</a>
                                                <button type="submit" class="btn btn-primary pull-right">Register</button>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 3 -->
                                    </div>
                                    <!-- end tab content -->
                                </div>
                            </div>

                            <!-- End new design -->

                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <a th:href="@{/bindingOld(patientId=${PATIENT.id})}" class="btn btn-primary">Use old measurement index</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- End new design -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- select 2-->
    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet" />
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>

    <!-- Bootstrap multiple tags -->
    <link th:href="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"/>

    <!-- Bootstrap validator-->
    <script th:src="@{/static/bower/bootstrap-validator/dist/validator.min.js}"/>

    <!-- script add -->
    <script th:src="@{/static/js/bootstrap-validator-ext.js}"/>

    <script th:src="@{/static/js/updatePatient.js}"/>

    <!-- css add -->
    <link th:href="@{/static/css/oldMeasurement.css}" rel="stylesheet"/>

</div>
<!-- /.content-wrapper -->

</body>
</html>
