<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Register Patient
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient's Profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">

                <div class="box box-info">

                    <!-- form start -->
                    <form class="form-horizontal" method="POST" th:action="registerNew" id = "mainForm">

                        <!-- New design-->

                        <div class="box-body">
                            <div class="nav-tabs-custom" style="box-shadow: none;">
                                <!-- Tab header -->
                                <ul class="nav nav-tabs">
                                    <li class="active" id="li_tab_1">
                                        <a href="#tab_1" data-toggle="tab" onclick="changeTab('#tab_1', '#li_tab_1')">Patient's Profile</a>
                                    </li>
                                    <li id="li_tab_2">
                                        <a href="#tab_2" data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')">Medical Checking</a>
                                    </li>
                                    <li id="li_tab_3">
                                        <a href="tab_3" data-toggle="tab" onclick="changeTab('#tab_3', '#li_tab_3')">Medical registration</a>
                                    </li>
                                </ul>
                                <!-- End tab header -->

                                <!-- Tab content -->
                                <div class="tab-content">
                                    <!-- Tab 1: Personal information-->
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name*</label>

                                            <div class="col-sm-4">
                                                <select id="patientName" th:name="patientName">
                                                    <!--<option value="">Type patient name</option>-->
                                                </select>
                                            </div>
                                            <div class="col-sm-3 help-block with-errors" id = "invalidPatientName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="birthday" class="col-sm-3 control-label">Birthday*</label>

                                            <div class="col-sm-3">
                                                <input type="text" th:name="birthday" class="form-control" id="birthday"/>
                                            </div>
                                            <div class="col-sm-3 help-block with-errors" id = "invalidBirthday">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-3 control-label">Email*</label>

                                            <div class="col-sm-5">
                                                <input type="text" id="email" th:name="email" class="form-control"/>
                                            </div>
                                            <div class="help-block with-errors" id = "invalidEmail"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Male*</label>
                                            <div class="btn-group col-sm-1">
                                            <input type="checkbox" name="gender" value="1" checked="checked" id="gender"/>
                                            </div>

                                        </div>


                                        <!-- footer -->
                                        <div style="margin: 15px;">
                                            <a data-toggle="tab" onclick="validateAndChangeTab('#tab_2', '#li_tab_2')"
                                               class="btn btn-primary pull-right">Next</a>
                                        </div>
                                        <!-- /.footer -->
                                    </div>
                                    <!-- End tab 1 -->

                                    <!-- Tab 2: Basic patient data -->
                                    <div class="tab-pane" id="tab_2">
                                        <table class="table table-bordered table-striped" id="tableMedicalCheck">
                                            <thead>
                                            <tr>
                                                <th style="width: 250px; text-align: center">Measurement index</th>
                                                <th style="width: 75px; text-align: center">Value</th>
                                                <th style="width: 250px; text-align: center">Measurement index</th>
                                                <th style="width: 75px; text-align: center" >Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <label for="Weight" class="control-label">Weight* (Kg)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="weight" class="form-control" id="Weight"/>

                                                    <div class="help-block with-errors" id="invalidWeight">
                                                    </div>
                                                </td>

                                                <td>
                                                    <label for="visceralFat" class="control-label">Visceral Fat* (level)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="text" th:name="visceralFat" class="form-control"
                                                           id="visceralFat"/>

                                                    <div class="help-block with-errors" id="invalidVisceralFat"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="height" class="control-label">Height (cm)*</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="height" class="form-control" id="height"/>

                                                    <div class="help-block with-errors" id="invalidHeight"></div>
                                                </td>

                                                <td>
                                                    <label for="muscleMass" class="control-label">Muscle Mass* (%)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="text" th:name="muscleMass" class="form-control"
                                                           id="muscleMass"/>

                                                    <div class="help-block with-errors" id="invalidMuscleMass"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="heartBeat" class="control-label">Heart Beat* (times/min)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="heartBeat" class="form-control"
                                                           id="heartBeat"/>

                                                    <div class="help-block with-errors" id="invalidHeartBeat"></div>
                                                </td>

                                                <td>
                                                    <label for="bodyWater" class="control-label">Body Water* (%)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="text" th:name="bodyWater" class="form-control"
                                                           id="bodyWater"/>

                                                    <div class="help-block with-errors" id="invalidBodyWater"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="bloodPressure" class="control-label">Blood Pressure* (mmHg)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="bloodPressure" class="form-control"
                                                           id="bloodPressure"/>

                                                    <div class="help-block with-errors" id = "invalidBloodPressure"></div>
                                                </td>

                                                <td>
                                                    <label for="phaseAngle" class="control-label">Phase Angle* (o)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="text" th:name="phaseAngle" class="form-control"
                                                           id="phaseAngle"/>

                                                    <div class="help-block with-errors" id = "invalidPhaseAngle"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="waists" class="control-label">Waists* (cm)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="waists" class="form-control" id="waists" />

                                                    <div class="help-block with-errors" id = "invalidWaists"></div>
                                                </td>

                                                <td>
                                                    <label for="impedance" class="control-label">Impedance* (Ohm)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="number" th:name="impedance" class="form-control"
                                                           id="impedance"/>

                                                    <div class="help-block with-errors" id = "invalidImpedance"></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label for="bodyFat" class="control-label">Body Fat* (%)</label>
                                                </td>
                                                <td class="form-group">
                                                    <input type="text" th:name="bodyFat" class="form-control"
                                                           id="bodyFat" />

                                                    <div class="help-block with-errors" id = "invalidBodyFat"></div>
                                                </td>

                                                <td>
                                                    <label for="basalMetabolicRate" class="control-label">Basal
                                                        Metabolic Rate* (Kcal)</label>
                                                </td>
                                                <td>
                                                    <input type="number" th:name="basalMetabolicRate" class="form-control"
                                                           id="basalMetabolicRate"/>

                                                    <div class="help-block with-errors" id="invalidBasalMetabolicRate"></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div style="margin: 15px;">
                                            <a  data-toggle="tab" onclick="changeTab('#tab_1', '#li_tab_1')"
                                               class="btn btn-default">Previous</a>
                                            <a onclick="validateAndChangeTab('#tab_3', '#li_tab_3')" data-toggle="tab"
                                               class="btn btn-primary pull-right">Next</a>
                                        </div>
                                    </div>
                                    <!-- End tab 2 -->

                                    <!-- Tab 3: Medical registration -->
                                    <div class="tab-pane" id="tab_3">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Doctor*</label>

                                            <div class="col-sm-5">
                                                <select id="doctorSelect" th:name="doctorId" >
                                                </select>

                                            </div>
                                            <div class="help-block with-errors" id="invalidDoctorId"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="medicalHistory" class="col-sm-3 control-label">Medical
                                                history</label>

                                            <div class="col-sm-5">
                                                <input th:type="text" class="form-control" placeholder="Medical history"
                                                       th:name="medicalHistory" id="medicalHistory" data-role="tagsinput"/>
                                            </div>
                                            <div class="col-sim-2">
                                                <a href="#uploadModal" data-toggle="modal" data-target="#uploadModal" class="btn btn-info">Upload medical history image</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="symptoms" class="col-sm-3 control-label">Clinical
                                                symptoms</label>

                                            <div class="col-sm-5">
                                                <input th:type="text" class="form-control"
                                                       placeholder="Clinical symptoms" th:name="symptoms" id = "symptoms"
                                                       data-role="tagsinput"/>
                                            </div>
                                            <div class="help-block with-errors" id="invalidSymptoms"></div>

                                        </div>

                                        <div class="form-group">
                                            <label for="medicineHistory" class="col-sm-3 control-label">Medicine
                                                History</label>

                                            <div class="col-sm-5">
                                                <input th:type="text" class="form-control"
                                                       placeholder="Medicine history" th:name="medicineHistory" data-role="tagsinput"
                                                       id="medicineHistory" />
                                            </div>
                                        </div>

                                        <!-- footer -->
                                        <div style="margin: 15px;">
                                            <a data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')"
                                               class="btn btn-default">Previous</a>
                                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                                        </div>
                                        <!-- /.footer -->
                                    </div>
                                    <!-- End tab 3 -->
                                </div>
                                <!-- end tab content -->
                            </div>
                        </div>

                        <!-- End new design -->

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                        <!-- /.box-footer -->
                        <!-- Modal -->

                    </form>
                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="uploadModalLabel">Upload medical history image</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <input id="fileUploader" name="fileUploader" type="file" multiple="multiple" class="file-loading"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    <!-- POPUP -->
    <div id="blanket" style="display:none;"></div>
    <div>
        <div layout:replace="_popupPatient"></div>
    </div>


    <!-- POPUP -->
    <!-- jQuery -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>

    <script type="text/javascript"
            th:src="@{/static/bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js}"></script>
    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>

    <link th:href="@{/static/bower/select2-bootstrap-theme/dist/select2-bootstrap.css}" rel="stylesheet"/>

    <!-- bootstrap-datepicker-->
    <link th:href="@{/static/bower/admin-lte/plugins/datepicker/datepicker3.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/admin-lte/plugins/datepicker/bootstrap-datepicker.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/static/bower/icheck/icheck.min.js}"/>
    <link th:href="@{/static/bower/icheck/skins/all.css}" rel="stylesheet"/>

    <!-- Bootstrap multiple tags -->
    <link th:href="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"/>

    <!-- Bootstrap file input-->
    <link th:href="@{/static/bower/bootstrap-fileinput/css/fileinput.min.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-fileinput/js/fileinput.min.js}"/>

    <!-- external script-->
    <script th:src="@{/static/js/registerPatient.js}"/>

    <!-- external css-->

    <link th:href="@{/static/css/registerPatient.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->
</body>
</html>
