<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
    }
</style>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Register Patient
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient's Profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Patient's Profile</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" method="POST" th:action="registerPatient">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="Name" class="col-sm-3 control-label">Name</label>

                                    <div class="col-sm-5">
                                        <input type="text" th:name="patientName" class="form-control" id="Name"
                                               placeholder="Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Birthday" class="col-sm-3 control-label">Birthday</label>

                                    <div class="col-sm-3">
                                        <input type="text" th:name="birthday" class="form-control" id="Birthday"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Gender</label>

                                    <div class="radio col-sm-5">
                                        <label>
                                            <input type="radio" th:name="gender" id="optionsRadios1" value="Male"/>
                                            Male
                                        </label>
                                        <label>
                                            <input type="radio" th:name="gender" id="optionsRadios2" value="Female"/>
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Weight" class="col-sm-3 control-label">Weight</label>

                                    <div class="col-sm-2">
                                        <input type="text" th:name="weight" class="form-control" id="Weight"
                                               placeholder="Weight"/>
                                    </div>
                                    <label for="Weight" class="col-sm-1 control-label"> Kg</label>
                                </div>
                                <div class="form-group">
                                    <label for="Height" class="col-sm-3 control-label">Height</label>

                                    <div class="col-sm-2">
                                        <input type="text" th:name="height" class="form-control" id="Height"
                                               placeholder="Height"/>
                                    </div>
                                    <label for="Height" class="col-sm-1 control-label"> m</label>
                                </div>
                                <!-- select -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Doctor</label>

                                    <div class="col-sm-5 ui-widget">
                                        <select id="combobox" class="form-control" th:name="doctor">
                                            <option value="">Select one...</option>
                                            <option value="Doctor 1">Doctor 1</option>
                                            <option value="Doctor 2">Doctor 2</option>
                                            <option value="Doctor 3">Doctor 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Medicalhistory" class="col-sm-3 control-label">Medical history</label>

                                    <div class="col-sm-5">
                                        <table class="table table-striped" id="Medicalhistory">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Medical history</th>
                                            </tr>
                                            <tr>
                                                <td>1/</td>
                                                <td><input type="text" class="form-control"
                                                           placeholder="Medical history"/></td>
                                            </tr>

                                        </table>
                                        <!-- /.table medicine -->
                                        <a style="width: 50px;color: white;" class="btn btn-primary"
                                           onclick="addRowMedicalhistory('Medicalhistory')">Add</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="clinicalSymptoms" class="col-sm-3 control-label">Clinical
                                        symptoms</label>

                                    <div class="col-sm-5">
                                        <table class="table table-striped" id="clinicalSymptoms">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Clinical Symptoms</th>
                                            </tr>
                                            <tr>
                                                <td>1/</td>
                                                <td><input type="text" class="form-control"
                                                           placeholder="Clinical Symptoms"/></td>
                                            </tr>

                                        </table>
                                        <!-- /.table medicine -->
                                        <a style="width: 50px;color: white;" class="btn btn-primary"
                                           onclick="addRowClinicalSymptoms('clinicalSymptoms')">Add</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary pull-right">Register</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery/dist/jquery.js}"></script>
    <script th:src="@{/static/bower/jquery-ui/jquery-ui.js}"></script>
    <!-- hsts -->
    <script th:src="@{/static/js/hsts.js}"></script>
    <!-- script add -->
    <script>
        $("#combobox").combobox();
        $("#Birthday").datepicker({
            changeMonth: true,
            changeYear: true
        });
        var countMedicalhistory = 2;
        var countClinicalSymptoms = 2;

        function addRowMedicalhistory(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;

            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = countMedicalhistory + "/";
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<input type="text" class="form-control" placeholder="Medical history"/>';

            countMedicalhistory++;
            return newRow;
        }
        ;
        function addRowClinicalSymptoms(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;

            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = countClinicalSymptoms + "/";
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<input type="text" class="form-control" placeholder="Clinical Symptoms"/>';

            countClinicalSymptoms++;
            return newRow;
        }
        ;
    </script>
</div>
<!-- /.content-wrapper -->

</body>
</html>
