<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Multi select -->
    <link rel="stylesheet" th:href="@{/static/bower/bootstrap-multiselect/dist/css/bootstrap-multiselect.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/static/css/prettify.css}" type="text/css"/>
    <style type="text/css">
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }

        /*STYLES FOR CSS POPUP*/
        #blanket {
            background-color: #111;
            opacity: 0.65;
            *background: none;
            position: absolute;
            z-index: 9001;
            top: 0px;
            left: 0px;
            width: 100%;
        }

        #popUpAppointment {
            position: absolute;
            width: 400px;
            height: 300px;
            z-index: 9002;
        }

        #popupConfirm {
            position: absolute;
            width: 400px;
            height: 300px;
            z-index: 9002;
        }

    </style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Diagnostic
            <small th:text="${APPOINTMENT.medicalRecord.patient.account.fullName}">Patient Name</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Diagnostic</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">

                        <div class="box-body">
                            <div class="box-header">
                                <h4 class="col-md-6" style="margin-top: 4px;"><i class="fa fa-th"></i> Prescriptions</h4>

                                <!-- input-group -->
                                <div class="input-group col-md-3 pull-right">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span th:text="${#dates.format(APPOINTMENT.meetingDate, 'dd-MM-yyyy')}"></span>
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu"
                                            th:each="appointment : ${APPOINTMENT.medicalRecord.appointmentList}">
                                            <li><a href="#" class="btn btn-default"
                                                   th:text="${#dates.format(appointment.meetingDate, 'dd-MM-yyyy')}">meetingDate</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                                <h4 class="col-md-3 pull-right"> Information Date</h4>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form th:action="suggestTreatment" method="get">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Diagnostic</label>
                                        <input type="hidden" th:name="patientID" th:value="${APPOINTMENT.medicalRecord.patient.id}"/>
                                        <div class="col-sm-4 ui-widget">
                                            <select id="combobox" th:name="diagnostic" class="form-control">
                                                <option th:value="${DIAGNOSTIC != null}? ${DIAGNOSTIC.id}" th:text="${DIAGNOSTIC != null}? ${DIAGNOSTIC.name} : ''">Select one...</option>
                                                <option th:each="illness : ${ILLNESSES}" th:value="${illness.id}"
                                                        th:text="${illness.name}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 pull-right">
                                            <button type="submit" class="btn btn-primary">Suggest</button>
                                        </div>
                                    </div>
                                    <!-- ./form-group -->
                                </div>
                                <!-- ./box-body -->
                            </form>
                            <!-- ./form -->
                            <!-- form start -->
                            <form class="form-horizontal" th:action="prescription" method="get" th:object="${model}">
                                <input type="hidden" name="diagnostic" th:value="${DIAGNOSTIC.id}" th:if="${DIAGNOSTIC != null}"/>

                                <div class="box-body">

                                    <!-- Sidebar Menu -->
                                    <!-- START CUSTOM TABS -->
                                    <input type="hidden" th:value="${APPOINTMENT.id}" name="appointmentID"/>
                                    <!-- Custom Tabs (Pulled to the left) -->
                                    <div class="nav-tabs-custom" style="box-shadow: none;">

                                        <ul class="nav nav-tabs">
                                            <li><a href="#tab_4-4" data-toggle="tab">Patient's Profile</a></li>
                                            <li class="active"><a href="#tab_1-1" data-toggle="tab">Medicine</a></li>
                                            <li><a href="#tab_2-2" data-toggle="tab">Foods</a></li>
                                            <li><a href="#tab_3-3" data-toggle="tab">Practices</a></li>
                                            <li><a href="#tab_5-5" data-toggle="tab">Appointment</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab_4-4">
                                                <!-- patient's Profile -->
                                                <div layout:replace="_patientProfile"></div>
                                                <!-- /.patient's Profile -->
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane active" id="tab_1-1">
                                                <h4>Medicine</h4>
                                                <!-- table medicine -->
                                                <table class="table table-striped" id="medicine">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Medicine</th>
                                                        <th>Times</th>
                                                        <th>Quanlity</th>
                                                        <th>Note</th>
                                                    </tr>
                                                    </thead>

                                                </table>
                                                <!-- /.table medicine -->
                                                <a style="width: 50px;color: white;" class="btn btn-primary"
                                                   onclick="addRowMedicine('medicine')">Add</a>

                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_2-2">
                                                <!-- food Suggest -->
                                                <div layout:replace="_foodPrescription"></div>
                                                <!-- /.food Suggest -->

                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_3-3">
                                                <!-- practice Suggest -->
                                                <div layout:replace="_practicePrescription"></div>
                                                <!-- /.practice Suggest -->

                                            </div>
                                            <!-- /.tab-pane -->
                                            <!-- tab-pane -->
                                            <div class="tab-pane" id="tab_5-5">

                                                    <h4>Appointment</h4>
                                                <div class="form-group box-body">
                                                    <label for="Appointment" class="col-sm-3 control-label">Appointment Date</label>

                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="text" name="appointmentDate"
                                                               id="Appointment" data-provide="Appointment"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->

                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- nav-tabs-custom -->
                                    <!-- END CUSTOM TABS -->
                                </div>
                                <!-- /.box-body -->
                                <!-- footer -->
                                <div class="box-footer">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <!-- /.footer -->
                            </form>
                            <!-- /.form -->
                        </div>
                        <!-- /.col -->



                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->


    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/bower/jquery-ui/jquery-ui.js}"></script>
    <!-- Multi select -->
    <script th:src="@{/static/bower/bootstrap-multiselect/dist/js/bootstrap-multiselect.js}"></script>
    <script th:src="@{/static/js/prettify.js}"></script>
    <!-- makePrescription -->
    <script th:src="@{/static/js/makePrescription.js}"></script>
    <script type="text/javascript">
        $(function () {
            var count = 1;
            var t = $("#medicine").DataTable( {
                "processing": true,
                "pagingType": "full",
                "paging": true,
                "lengthChange": false,
                "ordering": true,
                "info": true,
                "searching": false,
                "ajax": {
                    "url": "medicineList",
                    "dataSrc": "dataList",
                    "type": "GET",
                    "data": {
                        appointmentId: 23,
                        diagnostic: 1
                    }
                },

                "columns": [
                    { "data": "medicine.id" },
                    { "data": "medicine.id" },
                    { "data": "medicine.name" },
                    { "data": "numberOfTime" },
                    { "data": "quantityPerTime" }
                ],

            } );

        });
        $("#combobox").combobox();
        $('#Appointment').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            defaultDate: "+1w",
            changeYear: true,
        });

        var countMedicine = 2;
        function addRowMedicine(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;

            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = countMedicine + "/";
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<select class="form-control" name="medical" id="medical">'
                    + '<option th:each="medicine : ${MEDICINES}" th:value="${medicine.id}" th:text="${medicine.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<select class="form-control" nam="medicalTime" id="medicalTime">'
                    +'<option th:each="time : ${TIMES}" th:value="${time}" th:text="${time}"></option>'
                    +'</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" name="medicalQuantity" id="medicalQuantity" placeholder="Quanlity"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" name="medicalNote" id="medicalNote" placeholder="Advice"/>';

            countMedicine++;
            return newRow;
        };

        var countFoods = 5;
        function addRowFoods(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;

            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = countFoods + "/";
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML ='';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = '<select class="form-control" name="food" id="food">'
                    + '<option th:each="food : ${FOODS}" th:value="${food.id}" th:text="${food.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML ='<input type="text" class="form-control" name="foodQuantity" id="foodQuantity" placeholder="Quantity"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML ='<input type="text" class="form-control" name="foodNote" id="foodNote" placeholder="Advice"/>';

            countFoods++;
            return newRow;
        };
        var countPractice = 3;
        function addRowPractice(tableID) {
            var tableElement = document.getElementById(tableID);
            var newRow = tableElement.insertRow(tableElement.rows.length);
            var newCell;

            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML = countPractice + "/";
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML ='';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML ='<select class="form-control" name="pratice" id="pratice">'
                    + '<option th:each="practice : ${PRACTICES}" th:value="${practice.id}" th:text="${practice.name}"></option>'
                    + '</select>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" placeholder="Quantity" name="praticeIntensity" id="praticeIntensity"/>';
            newCell = newRow.insertCell(newRow.cells.length);
            newCell.innerHTML =
                    '<input type="text" class="form-control" name="practiceNote" id="practiceNote" placeholder="Advice"/>';

            countPractice++;
            return newRow;
        };
    </script>
</div>
<!-- /.content-wrapper -->

</body>
</html>
