<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }

        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }
    </style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update Patient
            <small th:text="${PATIENT.account.fullName}"></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient's Profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- New design -->
                <div class="col-md-12">

                    <div class="box box-info">
                        <!--                        <div class="box-header with-border">
                                                    <h3 class="box-title">Patient's Profile</h3>
                                                </div>-->
                        <!-- /.box-header -->

                        <!-- form start -->
                        <form class="form-horizontal" method="POST" th:action="updatePatient">
                            <input type="hidden" th:name="patientId" class="form-control"
                                   th:value="${PATIENT.id}"/>
                            <!-- New design-->

                            <div class="box-body">
                                <div class="nav-tabs-custom" style="box-shadow: none;">
                                    <!-- Tab header -->
                                    <ul class="nav nav-tabs">
                                        <li class="active" >
                                            <a href="#tab_1" data-toggle="tab">Patient's Profile</a>
                                        </li>
                                        <li>
                                            <a href="#tab_2" data-toggle="tab">Basic checking</a>
                                        </li>
                                        <li>
                                            <a href="#tab_3" data-toggle="tab">Prevention checking</a>
                                        </li>
                                        <li>
                                            <a href="#tab_4" data-toggle="tab">Medical registration</a>
                                        </li>
                                    </ul>
                                    <!-- End tab header -->

                                    <!-- Tab content -->
                                    <div class="tab-content">
                                        <!-- Tab 1: Personal information-->
                                        <div class="tab-pane active" id="tab_1">
                                            <div class="form-group">
                                                <label for="Name" class="col-sm-3 control-label">Name*</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="patientName" class="form-control"
                                                           th:value="${PATIENT.account.fullName}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Birthday" class="col-sm-3 control-label">Birthday*</label>

                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" readonly="readonly"
                                                           th:value="${#dates.format(PATIENT.account.dateOfBirth, 'dd-MM-yyyy')}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Email" class="col-sm-3 control-label">Email*</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="email" class="form-control"
                                                           th:value="${PATIENT.account.email}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Gender</label>

                                                <div class="radio col-sm-2">
                                                    <input type="text" readonly="readonly" class="form-control"
                                                           th:value="${PATIENT.account.gender == 1}? 'Male' : 'Female'"/>
                                                </div>
                                            </div>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_2" onclick="changeTab('#tab_2')" data-toggle="tab" class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 1 -->

                                        <!-- Tab 2: Basic patient data -->
                                        <div class="tab-pane" id="tab_2">
                                            <table class="table table-bordered table-striped" style="width: 500px">
                                                <thead>
                                                <tr>
                                                    <th style="width: 300px;">Measurement index</th>
                                                    <th style="width: 200px;">Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <label for="Weight" class="control-label">Weight* (Kg)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="weight" class="form-control" id="Weight"
                                                               placeholder="Weight" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="Height" class="control-label">Height* (cm)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="height" class="form-control" id="Height"
                                                               placeholder="Height" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="hearthBeat" class="control-label">Hearth Beat*
                                                            (times/minute)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="hearthBeat" class="form-control" id="hearthBeat"
                                                               placeholder="Hearth Beat" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="bloodPressure" class="control-label">Blood Pressure* (mmHg)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bloodPressure" class="form-control" id="bloodPressure"
                                                               placeholder="Blood Pressure" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="waists" class="control-label">Waists* (cm)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="waists" class="form-control" id="waists"
                                                               placeholder="cm" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="bmi" class="control-label">BMI*</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" th:name="bmi" class="form-control" id="bmi"
                                                               placeholder="BMI" required="required"/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div style="margin: 15px;">
                                                <a href="#tab_1" onclick="changeTab('#tab_1')" data-toggle="tab" class="btn btn-default">Previous</a>
                                                <a href="#tab_3" onclick="changeTab('#tab_3')" data-toggle="tab" class="btn btn-primary pull-right">Next</a>
                                            </div>
                                        </div>
                                        <!-- End tab 2 -->

                                        <!-- Tab 3: Prevention checking -->
                                        <div class="tab-pane" id="tab_3">
                                            <table  class="table table-bordered table-striped" style="width: 500px">
                                                <thead>
                                                <th style="width: 300px;">Measurement index</th>
                                                <th style="width: 200px;">Value</th>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <label for="bodyFat" class="control-label">Body Fat* (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyFat" class="form-control" id="bodyFat"
                                                               placeholder="Body Fat" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="visceralFat" class="control-label">Visceral Fat (level)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="visceralFat" class="form-control" id="visceralFat"
                                                               placeholder="Visceral Fat" data-remote="/validateData" required="required"data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="muscleMass" class="control-label">Muscle Mass* (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="muscleMass" class="form-control" id="muscleMass"
                                                               placeholder="Muscle Mass" data-remote="/validateData" required="required"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="bodyWater" class="control-label">Body Water (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyWater" class="form-control" id="bodyWater"
                                                               placeholder="Body Water" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="phaseAngle" class="control-label">Phase angle (o)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="phaseAngle" class="form-control" id="phaseAngle"
                                                               placeholder="Phase angle" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="impedance" class="control-label">Impedance (Ohm)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="impedance" class="form-control" id="impedance"
                                                               placeholder="Impedance" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="basalMetabolicRate" class="control-label">Basal Metabolic Rate
                                                            (Kcal)</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" th:name="basalMetabolicRate" class="form-control" id="basalMetabolicRate"
                                                               placeholder="Basal Metabolic Rate" data-remote="/validateData" required="required" data-error="Wrong input"/>
                                                        <div class="help-block with-errors"></div>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_2" onclick="changeTab('#tab_2')" data-toggle="tab" class="btn btn-default">Previous</a>
                                                <a href="#tab_4" onclick="changeTab('#tab_4')" data-toggle="tab" class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 3 -->

                                        <!-- Tab 4: Medical registration -->
                                        <div class="tab-pane" id="tab_4">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Doctor*</label>

                                                <div class="col-sm-5">
                                                    <select id="doctorSelect" th:name="doctorId">
                                                        <option value = "" th:disabled="disable">Select one...</option>
                                                        <option th:each="doctor : ${session.DOCTORS}" th:value="${doctor.id}" th:text="${doctor.account.fullName}"></option>
                                                    </select>
                                                </div>

                                                <label for="newRecord" class="col-sm-3 control-label">
                                                    <input style="width: 15px;height: 15px;" type="checkbox" th:name="isNewMedicalRecord"/>New Medical Record</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="Medicalhistory" class="col-sm-3 control-label">Medical history</label>

                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Medical history" name="medicalHistory" rows="3" data-role="tagsinput"></input>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="clinicalSymptoms" class="col-sm-3 control-label">Clinical symptoms</label>

                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Clinical symptoms" name="symptoms" rows="3" data-role="tagsinput"></input>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="medicineHistory" class="col-sm-3 control-label">Tiền sử dùng thuốc</label>

                                                <div class="col-sm-6">
                                                    <input th:type="text" class="form-control" placeholder="Medicine history" name="medicineHistory" rows="3" data-role="tagsinput" id="medicineHistory"></input>
                                                </div>
                                            </div>
                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a href="#tab_3" onclick="changeTab('#tab_3')" data-toggle="tab" class="btn btn-default">Previous</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 4 -->
                                    </div>
                                    <!-- end tab content -->
                                </div>
                            </div>

                            <!-- End new design -->

                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary pull-right">Register</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- End new design -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <!-- jQueryUI -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- select 2-->
    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet" />
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>

    <!-- Bootstrap multiple tags -->
    <link th:href="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"/>

    <!-- registerPatient -->
    <script th:src="@{/static/js/registerPatient.js}"></script>
    <!-- script add -->
    <script>
        $("#doctorSelect").select2();
        $("#Birthday").datepicker({
            format: 'dd-mm-yyyy'
        });
//        var countMedicalhistory = 2;
//        var countClinicalSymptoms = 2;
//
//        function addRowMedicalhistory(tableID) {
//            var tableElement = document.getElementById(tableID);
//            var newRow = tableElement.insertRow(tableElement.rows.length);
//            var newCell;
//
//            newCell = newRow.insertCell(newRow.cells.length);
//            newCell.innerHTML = countMedicalhistory + "/";
//            newCell = newRow.insertCell(newRow.cells.length);
//            newCell.innerHTML = '<input type="text" class="form-control" placeholder="Medical history"/>';
//
//            countMedicalhistory++;
//            return newRow;
//        }
//        ;
//        function addRowClinicalSymptoms(tableID) {
//            var tableElement = document.getElementById(tableID);
//            var newRow = tableElement.insertRow(tableElement.rows.length);
//            var newCell;
//
//            newCell = newRow.insertCell(newRow.cells.length);
//            newCell.innerHTML = countClinicalSymptoms + "/";
//            newCell = newRow.insertCell(newRow.cells.length);
//            newCell.innerHTML = '<input type="text" class="form-control" placeholder="Clinical Symptoms"/>';
//
//            countClinicalSymptoms++;
//            return newRow;
//        }
//        ;
    </script>
</div>
<!-- /.content-wrapper -->

</body>
</html>
