<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update Patient
            <small th:text="${PATIENT.account.fullName}"></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Patient's Profile</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- New design -->
                <div class="col-md-12">

                    <div class="box box-info">

                        <!-- form start -->
                        <form class="form-horizontal" id="mainForm">
                            <input type="hidden" th:name="patientId" class="form-control"
                                   th:value="${PATIENT.id}" id = "patientId"/>
                            <!-- New design-->

                            <div class="box-body">
                                <div class="nav-tabs-custom" style="box-shadow: none;">
                                    <!-- Tab header -->
                                    <ul class="nav nav-tabs">
                                        <li id="li_tab_1">
                                            <a href="#tab_1" data-toggle="tab" onclick="changeTab('#tab_1', '#li_tab_1')">Patient's Profile</a>
                                        </li>
                                        <li id="li_tab_2" class="active">
                                            <a href="#tab_2" data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')">Medical Checking</a>
                                        </li>
                                        <li id="li_tab_3">
                                            <a href="#tab_3" data-toggle="tab" onclick="changeTab('#tab_3', '#li_tab_3')">Medical registration</a>
                                        </li>
                                    </ul>
                                    <!-- End tab header -->

                                    <!-- Tab content -->
                                    <div class="tab-content">
                                        <!-- Tab 1: Personal information-->
                                        <div class="tab-pane face" id="tab_1">
                                            <div class="form-group">
                                                <label for="patientName" class="col-sm-3 control-label">Name:</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="patientName" class="form-control" id = "patientName"
                                                           th:value="${PATIENT.account.fullName}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="birthday" class="col-sm-3 control-label">Birthday:</label>

                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" readonly="readonly" id="birthday"
                                                           th:value="${#dates.format(PATIENT.account.dateOfBirth, 'dd-MM-yyyy')}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-3 control-label">Email:</label>

                                                <div class="col-sm-5">
                                                    <input type="text" th:name="email" class="form-control" id = "email"
                                                           th:value="${PATIENT.account.email}" readonly="readonly"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Gender:</label>

                                                <!--<div class="btn-group col-sm-2" data-toggle="buttons">-->
                                                    <!--<label th:class="(${PATIENT.account.gender == 1})?'btn btn-info active':'btn btn-danger active'">-->
                                                        <!--<input type="radio" th:text="${PATIENT.account.gender == 1}? 'MALE' : 'FEMALE'"/>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                                <div class="btn-group col-sm-1">
                                                    <input type="checkbox"  id="pGender" th:checked="${PATIENT.account.gender == 1}" disabled="disabled"/>
                                                </div>
                                            </div>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 1 -->

                                        <!-- Tab 2: Basic patient data -->
                                        <div class="tab-pane active" id="tab_2">
                                            <table class="table table-bordered table-striped" id="tableMedicalCheck">
                                                <thead>
                                                <tr>
                                                    <th style="width: 250px; text-align: center">Measurement index</th>
                                                    <th style="width: 75px; text-align: center">Value</th>
                                                    <th style="width: 250px; text-align: center">Measurement index</th>
                                                    <th style="width: 75px; text-align: center" >Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <label for="Weight" class="control-label">Weight* (Kg)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="weight" class="form-control" id="Weight"/>

                                                        <div class="help-block with-errors" id="invalidWeight">
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <label for="visceralFat" class="control-label">Visceral Fat* (level)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="visceralFat" class="form-control"
                                                               id="visceralFat"/>

                                                        <div class="help-block with-errors" id="invalidVisceralFat"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="height" class="control-label">Height (cm)*</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="height" class="form-control" id="height"/>

                                                        <div class="help-block with-errors" id="invalidHeight"></div>
                                                    </td>

                                                    <td>
                                                        <label for="muscleMass" class="control-label">Muscle Mass* (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="muscleMass" class="form-control"
                                                               id="muscleMass"/>

                                                        <div class="help-block with-errors" id="invalidMuscleMass"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="heartBeat" class="control-label">Heart Beat* (times/min)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="heartBeat" class="form-control"
                                                               id="heartBeat"/>

                                                        <div class="help-block with-errors" id="invalidHeartBeat"></div>
                                                    </td>

                                                    <td>
                                                        <label for="bodyWater" class="control-label">Body Water* (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyWater" class="form-control"
                                                               id="bodyWater"/>

                                                        <div class="help-block with-errors" id="invalidBodyWater"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="bloodPressure" class="control-label">Blood Pressure* (mmHg)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="bloodPressure" class="form-control"
                                                               id="bloodPressure"/>

                                                        <div class="help-block with-errors" id = "invalidBloodPressure"></div>
                                                    </td>

                                                    <td>
                                                        <label for="phaseAngle" class="control-label">Phase Angle* (o)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="phaseAngle" class="form-control"
                                                               id="phaseAngle"/>

                                                        <div class="help-block with-errors" id = "invalidPhaseAngle"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="waists" class="control-label">Waists* (cm)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="waists" class="form-control" id="waists" />

                                                        <div class="help-block with-errors" id = "invalidWaists"></div>
                                                    </td>

                                                    <td>
                                                        <label for="impedance" class="control-label">Impedance* (Ohm)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="number" th:name="impedance" class="form-control"
                                                               id="impedance"/>

                                                        <div class="help-block with-errors" id = "invalidImpedance"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="bodyFat" class="control-label">Body Fat* (%)</label>
                                                    </td>
                                                    <td class="form-group">
                                                        <input type="text" th:name="bodyFat" class="form-control"
                                                               id="bodyFat" />

                                                        <div class="help-block with-errors" id = "invalidBodyFat"></div>
                                                    </td>

                                                    <td>
                                                        <label for="basalMetabolicRate" class="control-label">Basal
                                                            Metabolic Rate* (Kcal)</label>
                                                    </td>
                                                    <td>
                                                        <input type="number" th:name="basalMetabolicRate" class="form-control"
                                                               id="basalMetabolicRate"/>

                                                        <div class="help-block with-errors" id="invalidBasalMetabolicRate"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div style="margin: 15px;">
                                                <a  data-toggle="tab" onclick="changeTab('#tab_1', '#li_tab_1')"
                                                    class="btn btn-default">Previous</a>
                                                <a onclick="validateAndChangeTab('#tab_3', '#li_tab_3')" data-toggle="tab"
                                                   class="btn btn-primary pull-right">Next</a>
                                            </div>
                                        </div>
                                        <!-- End tab 2 -->


                                        <!-- Tab 3: Medical registration -->
                                        <div class="tab-pane" id="tab_3">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Doctor*</label>

                                                <div class="col-sm-5">
                                                    <select id="doctorSelect" th:name="doctorId" >
                                                    </select>

                                                </div>
                                                <div class="help-block with-errors" id="invalidDoctorId"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="isNewMedicalRecord" class="col-sm-3 control-label">New Medical Record</label>
                                                <div class="btn-group col-sm-1">
                                                    <input type="checkbox" name="isNewMedicalRecord" value="true" id="isNewMedicalRecord"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="medicalHistory" class="col-sm-3 control-label">Medical
                                                    history</label>

                                                <div class="col-sm-5">
                                                    <input th:type="text" class="form-control" placeholder="Medical history"
                                                           th:name="medicalHistory" id="medicalHistory" data-role="tagsinput"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#uploadModal" data-toggle="modal" data-target="#uploadModal" class="btn btn-info">Upload medical history image</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="symptoms" class="col-sm-3 control-label">Clinical
                                                    symptoms</label>

                                                <div class="col-sm-5">
                                                    <input th:type="text" class="form-control"
                                                           placeholder="Clinical symptoms" th:name="symptoms" id = "symptoms"
                                                           data-role="tagsinput"/>
                                                </div>
                                                <div class="help-block with-errors" id="invalidSymptoms"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="medicineHistory" class="col-sm-3 control-label">Medicine
                                                    History</label>

                                                <div class="col-sm-5">
                                                    <input th:type="text" class="form-control"
                                                           placeholder="Medicine history" th:name="medicineHistory" data-role="tagsinput"
                                                           id="medicineHistory" />
                                                </div>
                                            </div>

                                            <!-- footer -->
                                            <div style="margin: 15px;">
                                                <a data-toggle="tab" onclick="changeTab('#tab_2', '#li_tab_2')"
                                                   class="btn btn-default">Previous</a>
                                                <button type="submit" class="btn btn-primary pull-right">Register</button>
                                            </div>
                                            <!-- /.footer -->
                                        </div>
                                        <!-- End tab 3 -->
                                    </div>
                                    <!-- end tab content -->
                                </div>
                            </div>

                            <!-- End new design -->

                            <!-- /.box-body -->
                            <div class="box-footer">
                                <a th:href="@{registerPatient}" class="btn btn-default">Reset</a>
                                <a th:href="@{/bindingOld(patientId=${PATIENT.id})}" class="btn btn-primary">Use old measurement index</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                        <!-- upload file pop up-->
                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="uploadModalLabel">Upload medical history image</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <input id="fileUploader" name="fileUploader" type="file" multiple="multiple" class="file-loading"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .upload file pop up-->

                    <!-- patient registration info modal -->

                    <div class="modal fade" id="patientRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="patientRegistrationLabel" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                    <h4 class="modal-title" id="patientRegistrationLabel">Patient registration</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="margin: 15px; text-align: center;">
                                        <canvas id="myCanvas" width="200" height="100"/>
                                    </div>

                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Name:</label>

                                        <div class="col-sm-5">
                                            <label id = "rName">Name</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Birthday:</label>
                                        <div class="col-sm-3">
                                            <label id = "rBirthday">Birthday</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Male:</label>
                                        <div class="btn-group col-sm-3" data-toggle="buttons">
                                            <!--<input type ="text" style="width: 90px" id = "rGender"/>-->
                                            <div class="btn-group col-sm-1">
                                                <input type="checkbox" name="gender" id="rGender" disabled="disabled"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Email:</label>

                                        <div class="col-sm-3">
                                            <label id = "rEmail">Email</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Barcode:</label>

                                        <div class="col-sm-3">
                                            <label id = "rBarcode">Barcode</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Date:</label>

                                        <div class="col-sm-3">
                                            <label id = "rDate">Date</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px">
                                        <label class="col-sm-3 control-label">Doctor:</label>

                                        <div class="col-sm-3">
                                            <label id = "rDoctor">Doctor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{registerPatient}" class="btn btn-info">Register next patient</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- .patient registration info modal -->

                    <!-- registration error modal -->
                    <div class="modal fade" id="registrationErrorModal" tabindex="-1" role="dialog" aria-labelledby="registrationErrorMessage" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                    <h4 class="modal-title" id="registrationErrorMessage">Messsage</h4>
                                </div>
                                <div class="modal-body">
                                    <h4 class="modal-title">Error while register patient, please check</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .registration error modal -->

                    <!-- /.box -->
                </div>
                <!-- End new design -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

    <!-- jQuery -->
    <script th:src="@{/static/bower/jquery/dist/jquery.min.js}"></script>

    <!-- jquery validation -->
    <script th:src="@{/static/bower/jquery-validation/dist/jquery.validate.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/static/bower/icheck/icheck.min.js}"/>
    <link th:href="@{/static/bower/icheck/skins/all.css}" rel="stylesheet"/>

    <!-- select 2-->
    <link th:href="@{/static/bower/admin-lte/plugins/select2/select2.css}" rel="stylesheet" />
    <script th:src="@{/static/bower/admin-lte/plugins/select2/select2.min.js}"></script>

    <!-- Bootstrap multiple tags -->
    <link th:href="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"/>

    <!-- Bootstrap file input-->
    <link th:href="@{/static/bower/bootstrap-fileinput/css/fileinput.min.css}" rel="stylesheet"/>
    <script th:src="@{/static/bower/bootstrap-fileinput/js/fileinput.min.js}"/>

    <!-- external script -->
    <script th:src="@{/static/js/updatePatient.js}"/>

    <!-- external css -->
    <link th:href="@{/static/css/updatePatient.css}" rel="stylesheet"/>
</div>
<!-- /.content-wrapper -->

</body>
</html>
